{% extends "base.html" %}
{% load filters %}
{% load static %}

{% block header2 %}

<!-- Begin page -->
<div id="layout-wrapper">

  <div class="main-content">

    <div class="page-content">
      <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
          <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
              <h4 class="mb-sm-0"></h4>

              <div class="page-title-right">
                <ol class="breadcrumb m-0">
                  <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                  <li class="breadcrumb-item active">Staff</li>
                </ol>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">

                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                    <h4>Employee List </h4>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-12"></div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-12">
                    <button type="button" class="btn btn-info" style="float:right;" data-bs-toggle="modal"
                      data-bs-target=".bs-example-modal-lg">+ Add </button>
                    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
                      aria-labelledby="myLargeModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="myLargeModalLabel">Employee</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                              onclick="clearErrors()"></button>
                          </div>
                          <hr>

                          {% comment %} <form id="createForm" enctype="multipart/form-data">

                            {% csrf_token %} 
                            <div class="modal-body">
                              <div class="row">
                                <div class="col-md-6 mt-2">
                                  <label for="id_name" class="form-label">Employee Name <span style="color: red;">*</span>  </label>
                                  <input type="text" name="name" class="form-control" id="name" >
                                  <span id="nameError" class="error-message"></span>
                                </div>
                                <div class="col-md-6 mt-2">
                                  <label for="" class="form-label"> Date <span style="color: red;">*</span>  </label>
                                  <input type="date" class="form-control" id="start_date"
                                    name="start_date">
                                  <span id="start_dateError"
                                    class="error-message"></span> 
                                </div>

                                <div class="col-md-6 mt-2">
                                  <label for="" class="form-label">Employee Image
                                    <span style="color: red;">*</span> </label>
                                  <input type="file" class="form-control" id="img"
                                      name="img">
                                  <span id="imgError"
                                      class="error-message"></span>
                                </div>

                                
                                <div class="col-md-6 mt-2">
                                  <label for="" class="form-label">Employee Role <span style="color: red;">*</span>  </label>
                                  <select class="form-select mb-0" aria-label="Default select example" id="role"
                                    name="role">
                                    <option value="">----------------</option>
                                    {% for role in roles %}
                                    <option value="{{ role.id }}">{{ role.name }}</option>
                                    {% endfor %}
                                  </select>
                                  <span id="roleError" class="error-message"></span>
                                </div>
                                
                                <div class="col-md-6 mt-2">
                                  <label for="" class="form-label">Mobile No  <span style="color: red;">*</span> </label>
                                  <input type="text" name="mobile" class="form-control" id="mobile">
                                  <span id="mobileError" class="error-message"></span>
                                </div>

                                <div class="col-md-6 mt-2">
                                  <label for="id_email" class="form-label">Email
                                      <span style="color: red;">*</span></label>
                                  <input type="text" name="email" class="form-control"
                                      id="email">
                                  <span id="emailError" class="error-message"> </span>
                              </div>
                                
                                <div class="col-md-6 mt-2">
                                  <label for="" class="form-label">Aadhaar Card
                                    <span style="color: red;">*</span> </label>
                                  <input type="file" class="form-control" id="aadhaar_card_image"
                                      name="aadhaar_card_image">
                                  <span id="aadhaar_card_imageError"
                                      class="error-message"></span>
                              </div>

                              <div class="col-md-6 mt-2">
                                <label for="" class="form-label">Pan Card
                                  <span style="color: red;">*</span> </label>
                                <input type="file" class="form-control" id="pan_card_image"
                                    name="pan_card_image">
                                <span id="pan_card_imageError"
                                    class="error-message"></span>
                            </div>
                                <div class="col-md-6 mt-2">
                                  <label for="" class="form-label">Month Salary  <span style="color: red;">*</span> </label>
                                  <input type="text" name="monthly_salary" class="form-control" id="monthly_salary">
                                  <span id="monthly_salaryError" class="error-message"></span>
                                </div>
                              </div>
                              <div class="col-md-6 mt-2">
                                <label for="" class="form-label">Address  <span style="color: red;">*</span> </label>
                                <textarea class="form-control" name="address" rows="3" id="address"></textarea>
                                <span id="addressError" class="error-message"></span>
                              </div>

                              <hr>
                              <h4>Bank Details</h4>
                              <div class="row">
                                <div class="col-md-6">
                                  <label for="" class="form-label">Bank Name :</label>
                                  <input type="text" name="bankname" class="form-control" id="bankname">
                                  <span id="banknameError" class="error-message"></span>
                                </div>
                                <div class="col-md-6">
                                  <label for="" class="form-label">Branch :</label>
                                  <input type="text" name="branch" class="form-control" id="branch">
                                  <span id="branchError" class="error-message"></span>
                                </div>
                                <div class="col-md-6 mt-2">
                                  <label for="" class="form-label mt-2">Account Number</label>
                                  <input type="number" name="bankaccount" class="form-control" id="bankaccount">
                                  <span id="bankaccountError" class="error-message"></span>
                                </div>
                                <div class="col-md-6 mt-2">
                                  <label for="" class="form-label mt-2">IFSC Code :</label>
                                  <input type="text" name="ifsccode" class="form-control" id="ifsccode">
                                  <span id="ifsccodeError" class="error-message"></span>
                                </div>
                              </div>
                            </div>
                            <hr>
                            <div class="modal-footer">
                              <button class="btn btn-link link-success fw-medium shadow-none" data-bs-dismiss="modal"
                                onclick="clearErrors()">

                                <i class="ri-close-line me-1 align-middle"></i> Close</button>

                              <button type="button" class="btn btn-primary" onclick="createFunction(this)">Save
                              </button>
                            </div>
                          </form> {% endcomment %}

                          <form id="createForm" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="modal-body">
                              <!-- Employee Details Section -->
                              <div class="row">
                                <div class="col-md-6 mt-2">
                                  <label for="id_name" class="form-label">Employee Name <span style="color: red;">*</span></label>
                                  <input type="text" name="name" class="form-control" id="name">
                                  <span id="nameError" class="error-message"></span>
                                </div>
                                <div class="col-md-6 mt-2">
                                  <label for="start_date" class="form-label">Date <span style="color: red;">*</span></label>
                                  <input type="date" class="form-control" id="start_date" name="start_date">
                                  <span id="start_dateError" class="error-message"></span>
                                </div>
                              </div>
                          
                              <div class="row">
                                <div class="col-md-6 mt-2">
                                  <label for="img" class="form-label">Employee Image <span style="color: red;">*</span></label>
                                  <input type="file" class="form-control" id="img" name="img">
                                  <span id="imgError" class="error-message"></span>
                                </div>
                                <div class="col-md-6 mt-2">
                                  <label for="role" class="form-label">Employee Role <span style="color: red;">*</span></label>
                                  <select class="form-select" id="role" name="role">
                                    <option value="">----------------</option>
                                    {% for role in roles %}
                                    <option value="{{ role.id }}">{{ role.name }}</option>
                                    {% endfor %}
                                  </select>
                                  <span id="roleError" class="error-message"></span>
                                </div>
                              </div>
                          
                              <div class="row">
                                <div class="col-md-6 mt-2">
                                  <label for="mobile" class="form-label">Mobile No <span style="color: red;">*</span></label>
                                  <input type="text" name="mobile" class="form-control" id="mobile">
                                  <span id="mobileError" class="error-message"></span>
                                </div>
                                <div class="col-md-6 mt-2">
                                  <label for="email" class="form-label">Email <span style="color: red;">*</span></label>
                                  <input type="text" name="email" class="form-control" id="email">
                                  <span id="emailError" class="error-message"></span>
                                </div>
                              </div>
                          
                              <div class="row">
                                <div class="col-md-6 mt-2">
                                  <label for="aadhaar_card_image" class="form-label">Aadhaar Card <span style="color: red;">*</span></label>
                                  <input type="file" class="form-control" id="aadhaar_card_image" name="aadhaar_card_image">
                                  <span id="aadhaar_card_imageError" class="error-message"></span>
                                </div>
                                <div class="col-md-6 mt-2">
                                  <label for="pan_card_image" class="form-label">Pan Card <span style="color: red;">*</span></label>
                                  <input type="file" class="form-control" id="pan_card_image" name="pan_card_image">
                                  <span id="pan_card_imageError" class="error-message"></span>
                                </div>
                              </div>
                          
                              <div class="row">
                                <div class="col-md-6 mt-2">
                                  <label for="monthly_salary" class="form-label">Month Salary <span style="color: red;">*</span></label>
                                  <input type="text" name="monthly_salary" class="form-control" id="monthly_salary">
                                  <span id="monthly_salaryError" class="error-message"></span>
                                </div>
                                <div class="col-md-6 mt-2">
                                  <label for="address" class="form-label">Address <span style="color: red;">*</span></label>
                                  <textarea class="form-control" name="address" rows="3" id="address"></textarea>
                                  <span id="addressError" class="error-message"></span>
                                </div>
                              </div>
                          
                              <!-- Bank Details Section -->
                              <hr>
                              <h4>Bank Details</h4>
                              <div class="row">
                                <div class="col-md-6 mt-2">
                                  <label for="bankname" class="form-label">Bank Name</label>
                                  <input type="text" name="bankname" class="form-control" id="bankname">
                                  <span id="banknameError" class="error-message"></span>
                                </div>
                                <div class="col-md-6 mt-2">
                                  <label for="branch" class="form-label">Branch</label>
                                  <input type="text" name="branch" class="form-control" id="branch">
                                  <span id="branchError" class="error-message"></span>
                                </div>
                                <div class="col-md-6 mt-2">
                                  <label for="bankaccount" class="form-label">Account Number</label>
                                  <input type="number" name="bankaccount" class="form-control" id="bankaccount">
                                  <span id="bankaccountError" class="error-message"></span>
                                </div>
                                <div class="col-md-6 mt-2">
                                  <label for="ifsccode" class="form-label">IFSC Code</label>
                                  <input type="text" name="ifsccode" class="form-control" id="ifsccode">
                                  <span id="ifsccodeError" class="error-message"></span>
                                </div>
                              </div>
                            </div>
                          
                            <!-- Modal Footer -->
                            <div class="modal-footer">
                              <button class="btn btn-link link-success fw-medium shadow-none" data-bs-dismiss="modal" onclick="clearErrors()">
                                <i class="ri-close-line me-1 align-middle"></i> Close
                              </button>
                              <button type="button" class="btn btn-primary" onclick="createFunction(this)">Save</button>
                            </div>
                          </form>
                          

                        </div>
                        <!-- /.modal-content -->
                      </div>
                      <!-- /.modal-dialog -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="row">
                  {% include "search.html" %}
                </div>
                <div class="">
                  <table id="example" class="table table-bordered table-striped align-middle" style="width:100%">
                    <thead>
                      <tr>
                        <th style="width: 50px;" data-ordering="false">S.No</th> 
                        <th data-ordering="false">Date</th> 
                       <th data-ordering="false">Employee Image</th>
                        <th data-ordering="false">Employee Name</th>
                        <th data-ordering="false">Role</th>
                        <th data-ordering="false">Contact No</th>
                        <th data-ordering="false">Address</th>
                        <th data-ordering="false">Status</th>
                        
                        <!-- <th data-ordering="false">IFSC</th>
                        <th data-ordering="false">Bank Name</th>
                        <th data-ordering="false">Branch</th> -->
                        <th data-ordering="false">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for i in queryset %}

                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ i.start_date }}</td> 
                        {% comment %} <td>
                          {% if i.img %}
                              <a href="{{ i.img.url }}" target="_blank">{{ i.img.name|filename }}</a>
                          {% else %}
                              No Image
                          {% endif %}
                      </td> {% endcomment %}
                      <td>
                        {% if i.img %}
                            <img src="{{ i.img.url }}" alt="{{ i.img.name }}" class="img-responsive"
														style="height:40px;width:40px;" />
                        {% else %}
                            No Image
                        {% endif %}
                    </td>
                    
                        <td>{{ i.name }}</td>
                        
                        <td>{{ i.role}}</td>
                        <td>{{ i.mobile }}</td>
                        <td>{{ i.address  | truncate  }}</td>

                        {% if i.disable == True %}
                        
                        <td class="text-danger" >deactive  </td>
                        
                        {% else %}
                      
                        <td class="text-success"> active  </td>

                        {% endif %}

                      
                        <!-- <td>{{ i.bankaccount | truncate }}</td>
                        <td>{{ i.ifsccode  | truncate  }}</td>
                        <td>{{ i.bankname   | truncate }}</td>
                        <td>{{ i.branch  | truncate  }}</td> -->
                        <td>
                          <div class="dropdown d-inline-block">
                            <button class="btn btn-soft-secondary btn-sm dropdown" type="button"
                              data-bs-toggle="dropdown" aria-expanded="false">
                              <i class="ri-more-fill align-middle"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                              <li><a class="dropdown-item" data-id="{{i.id}}" href="#!"
                                  onclick="openModal('viewModal', '{{ i.id }}')"><i
                                    class="ri-eye-fill align-bottom me-2 text-muted"></i> View</a></li>
                              <li><a class="dropdown-item edit-item-btn" data-id="{{i.id}}"  href="#!"
                                  onclick="openModal('editModal','{{ i.id }}')"><i
                                    class="ri-pencil-fill align-bottom me-2 text-muted"></i> Edit</a></li>
                              <li>
                                <a class="dropdown-item remove-item-btn del-btn" href="#!"
                                  data-target="#deleteModal{{ i.id}}">
                                  {% if i.disable == True %}

                                  <i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i>
                                  Enable
                                  {% else %}
                                  
                                  <i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i>
                                  Disable

                                  {% endif %}
                                  
                                </a>
                              </li>
                            </ul>
                          </div>


                          <div class="modal fade" id="viewModal_{{i.id}}" tabindex="-1" role="dialog"
                            aria-labelledby="viewModalLabel" aria-hidden="true" data-bs-backdrop="static"
                            data-bs-keyboard="false">

                            <div class="modal-dialog modal-lg">

                              <div class="modal-content">

                                <div class="modal-header">

                                  <h5 class="modal-title" id="viewModalLabel">{{i.name}} details</h5>

                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                    onclick="CloseModel('viewModal', '{{i.id}}')"></button>

                                </div>

                                <div class="modal-body">

                                  <div class="row">
                                    <div class="col-md-6 mt-3">
                                      <label for="{{i.id}}_start_date"
                                        class="form-label">Start Date:</label>
                                      <input type="text" class="form-control"
                                        id="{{i.id}}_start_date" name="start_date"
                                        value="{{i.start_date}}" readonly>
                                    </div>


                                    <div class="col-md-6 mt-3">
                                      <label for="{{ i.id }}_img" class="form-label">Employee Image:</label>
                                      <br>
                                      {% if i.img %}
                                          <span class="file-span">
                                              <a target="_blank" href="{{ i.img.url }}">{{ i.img|filename }}</a>
                                          </span>
                                      {% else %}
                                          <span class="file-span">No image available</span>
                                      {% endif %}
                                  </div>
                                  
  

                                    <div class="col-md-6 mt-3">
                                      <label for="{{i.id}}_name" class="form-label">Employee Name:</label>
                                      <input type="text" class="form-control" id="{{i.id}}_name" name="name"
                                        value="{{i.name}}" readonly>
                                    </div>

                                    <div class="col-md-6 mt-3">
                                      <label for="{{i.id}}_role" class="form-label">Role:</label>
                                      <input type="text" class="form-control" id="{{i.id}}_role" name="role"
                                        value="{{i.role}}" readonly>
                                    </div>

                                    <div class="col-md-6 mt-3">
                                      <label for="{{i.id}}_mobile" class="form-label">Contact No:</label>
                                      <input type="text" class="form-control" id="{{i.id}}_mobile" name="mobile"
                                        value="{{ i.mobile }}" readonly>
                                    </div>

                                    <div class="col-md-6 mt-3">
                                      <label for="{{i.id}}_email" class="form-label">Email:</label>
                                      <input type="text" class="form-control" id="{{i.id}}_email" name="email"
                                        value="{{ i.email }}" readonly>
                                    </div>

                                    <div class="col-md-6 mt-3">
                                      <label for="{{i.id}}_address" class="form-label">Address:</label>
                                      <input type="text" class="form-control" id="{{i.id}}_address" name="address"
                                        value="{{i.address}}" readonly>
                                    </div>

                                    <div class="col-md-6 mt-3">
                                      <label for="{{ i.id }}_aadhaar_card_image" class="form-label">Aadhaar Card:</label>
                                      <br>
                                      {% if i.aadhaar_card_image %}
                                          <span class="file-span">
                                              <a target="_blank" href="{{ i.aadhaar_card_image.url }}">{{ i.aadhaar_card_image|filename }}</a>
                                          </span>
                                      {% else %}
                                          <span class="file-span">No image available</span>
                                      {% endif %}
                                  </div>
                                  

                                <div class="col-md-6 mt-3">
                                  <label for="{{ i.id }}_pan_card_image" class="form-label">Pan Card:</label>
                                  <br>
                                  {% if i.pan_card_image %}
                                      <span class="file-span">
                                          <a target="_blank" href="{{ i.pan_card_image.url }}">{{ i.pan_card_image|filename }}</a>
                                      </span>
                                  {% else %}
                                      <span class="file-span">No image available</span>
                                  {% endif %}
                                </div>

                               
                              
                                

                                    <div class="col-md-6 mt-3">
                                      <label for="{{i.id}}_monthly_salary" class="form-label">Month Salary:</label>
                                      <input type="text" class="form-control" id="{{i.id}}_monthly_salary" name="monthly_salary"
                                        value="{{ i.monthly_salary }}" readonly>
                                    </div>

                                    <div class="col-md-6 mt-3">
                                      <label for="{{i.id}}_bankname" class="form-label">Bank Name:</label>
                                      <input type="text" class="form-control" id="{{i.id}}_bankname" name="bankname"
                                        value="{{i.bankname}}" readonly>
                                    </div>

                                    <div class="col-md-6 mt-3">
                                      <label for="{{i.id}}_branch" class="form-label">Branch:</label>
                                      <input type="text" class="form-control" id="{{i.id}}_branch" name="branch"
                                        value="{{i.branch}}" readonly>
                                    </div>

                                    <div class="col-md-6 mt-3">
                                      <label for="{{i.id}}_bankaccount" class="form-label">Account No:</label>
                                      <input type="text" class="form-control" id="{{i.id}}_bankaccount"
                                        name="bankaccount" value="{{i.bankaccount}}" readonly>
                                    </div>

                                    <div class="col-md-6 mt-3">
                                      <label for="{{i.id}}_ifsccode" class="form-label">IFSC Code:</label>
                                      <input type="text" class="form-control" id="{{i.id}}_ifsccode" name="ifsc"
                                        value="{{i.ifsccode}}" readonly>
                                    </div>

                                  </div>

                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                      onclick="CloseModel('viewModal', '{{i.id}}')">Close</button>
                                  </div>

                                </div>
                              </div>

                            </div>

                          </div>

                          <div class="modal fade" id="editModal_{{i.id}}" tabindex="-1" role="dialog"
                            aria-labelledby="editModalLabel" aria-hidden="true" data-bs-backdrop="static"
                            data-bs-keyboard="false">

                            <div class="modal-dialog modal-lg">

                              <div class="modal-content">

                                <div class="modal-header">

                                  <h5 class="modal-title" id="editModalLabel">{{i.name}} details </h5>

                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                    onclick="CloseModel('editModal','{{i.id}}')"></button>

                                </div>

                                <form id="editForm{{ i.id }}" enctype="multipart/form-data">

                                  {% csrf_token %}

                                  <div class="modal-body">

                                    <div class="row">

                                      <div class="col-md-6 mt-2">

                                        <label for="edit_start_date"
                                          class="form-label">Start Date:</label>
  
                                        <input type="date" class="form-control"
                                          id="{{i.id}}_start_date"
                                          name="start_date"
                                          value="{{ i.start_date|date:'Y-m-d' }}" />
  
                                        <span id="{{i.id}}_start_dateError"
                                          class="error-message"></span>
  
                                      </div>
                                    
      

                                      <div class="col-md-6 mt-2">

                                        <label for="edit_name" class="form-label">Employee Name:</label>

                                        <input type="text" class="form-control" id="{{i.id}}_name" name="name"
                                          value="{{i.name}}" />

                                        <span id="{{i.id}}_nameError" class="error-message"></span>

                                      </div>

                                      <div class="col-md-6 mt-2">
                                        <label for="{{ i.id }}_img" class="form-label">Employee Image:</label>
                                        <input type="file" class="form-control mb-2" id="{{ i.id }}_id_img" name="img" value="{{ i.img }}">
                                        
                                        <span class="file-span">
                                            {% if i.img %}
                                                <a target="_blank" href="{{ i.img.url }}">
                                                    {{ i.img|filename }}
                                                </a>
                                            {% else %}
                                                No file uploaded
                                            {% endif %}
                                        </span>
                                    </div>
                           
                                      


                                      <div class="col-md-6 mt-2">
                                        <label for="" class="form-label">Employee Role :</label>
                                        <select class="form-select form-control"
                                          aria-label="Default select example" name="role" id="{{i.id}}_role">
                                          <option value="{{i.role.id}}" selected>{{i.role.name}} </option>
                                          <option>----------- </option>
                                          {% for j in roles %}
                                          <option value="{{j.id}}">{{j.name}} </option>
                                          {% endfor %}
                                        </select>
                                        <span id="{{i.id}}_roleError" class="error-message"></span>
                                      </div>

                                      <div class="col-md-6 mt-2">

                                        <label for="edit_mobile" class="form-label">Contact No:</label>

                                        <input type="text" class="form-control" id="{{i.id}}_mobile" name="mobile"
                                          value="{{i.mobile}}" />

                                        <span id="{{i.id}}_mobileError" class="error-message"></span>

                                      </div>

                                      <div class="col-md-6 mt-2">

                                        <label for="edit_email" class="form-label">Email:</label>

                                        <input type="email" class="form-control" id="{{i.id}}_email" name="email"
                                          value="{{i.email}}" />

                                        <span id="{{i.id}}_emailError" class="error-message"></span>

                                      </div>

                                      <div class="col-md-6 mt-2">

                                        <label for="edit_address" class="form-label">Address:</label>

                                        <input type="text" class="form-control" id="{{i.id}}_address" name="address"
                                          value="{{i.address}}" />

                                        <span id="{{i.id}}_addressError" class="error-message"></span>

                                      </div>

                                      <div class="col-md-6 mt-2">
                                        <label for="{{ i.id }}_aadhaar_card_image" class="form-label">Aadhaar Card:</label>
                                        <input type="file" class="form-control mb-2" id="{{ i.id }}_id_aadhaar_card_image" name="aadhaar_card_image" value="{{ i.aadhaar_card_image }}">
                                        
                                        <span class="file-span">
                                            {% if i.aadhaar_card_image %}
                                                <a target="_blank" href="{{ i.aadhaar_card_image.url }}">
                                                    {{ i.aadhaar_card_image|filename }}
                                                </a>
                                            {% else %}
                                                No file uploaded
                                            {% endif %}
                                        </span>
                                    </div>

                                    <div class="col-md-6 mt-2">
                                        <label for="{{ i.id }}_pan_card_image" class="form-label">Pan Card:</label>
                                        <input type="file" class="form-control mb-2" id="{{ i.id }}_id_pan_card_image" name="pan_card_image" value="{{ i.pan_card_image }}">
                                        
                                        <span class="file-span">
                                            {% if i.pan_card_image %}
                                                <a target="_blank" href="{{ i.pan_card_image.url }}">
                                                    {{ i.pan_card_image|filename }}
                                                </a>
                                            {% else %}
                                                No file uploaded
                                            {% endif %}
                                        </span>
                                    </div>

                                      <div class="col-md-6 mt-2">

                                        <label for="edit_monthly_salary" class="form-label">Month Salary:</label>

                                        <input type="text" class="form-control" id="{{i.id}}_monthly_salary" name="monthly_salary"
                                          value="{{i.monthly_salary}}" />

                                        <span id="{{i.id}}_monthly_salaryError" class="error-message"></span>

                                      </div>

                                      <div class="col-md-6 mt-2">

                                        <label for="edit_bankname" class="form-label">Bank Name:</label>

                                        <input type="text" class="form-control" id="{{i.id}}_bankname" name="bankname"
                                          value="{{i.bankname}}" />

                                        <span id="{{i.id}}_banknameError" class="error-message"></span>

                                      </div>

                                      <div class="col-md-6 mt-2">

                                        <label for="edit_branch" class="form-label">Branch:</label>

                                        <input type="text" class="form-control" id="{{i.id}}_branch" name="branch"
                                          value="{{i.branch}}" />

                                        <span id="{{i.id}}_branchError" class="error-message"></span>

                                      </div>

                                      <div class="col-md-6 mt-2">

                                        <label for="edit_bankaccount" class="form-label">Account No:</label>

                                        <input type="text" class="form-control" id="{{i.id}}_bankaccount"
                                          name="bankaccount" value="{{i.bankaccount}}" />

                                        <span id="{{i.id}}_bankaccountError" class="error-message"></span>

                                      </div>

                                      <div class="col-md-6 mt-2">

                                        <label for="edit_ifsccode" class="form-label">IFSC Code:</label>

                                        <input type="text" class="form-control" id="{{i.id}}_ifsccode" name="ifsccode"
                                          value="{{i.ifsccode}}" />

                                        <span id="{{i.id}}_ifsccodeError" class="error-message"></span>

                                      </div>

                                    </div>

                                    <div class="modal-footer">

                                      <button type="button" class="btn btn-secondary" id="" data-bs-dismiss="modal"
                                        onclick="CloseModel('editModal','{{i.id}}')">

                                        Cancel

                                      </button>

                                      <button type="button" class="btn btn-primary" id="saveuom"
                                        onclick="updateFunction(this,'{{i.id}}')">

                                        Save

                                      </button>

                                    </div>
                                  </div>

                                </form>

                              </div>

                            </div>

                          </div>


                          <!-- for delete -->

                          <div class="modal fade" id="deleteModal{{ i.id}}" tabindex="-1"
                            aria-labelledby="deleteModalLabel-{{ forloop.counter }}" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="deleteModalLabel-{{ forloop.counter }}"> 
                                    {{i.name}}</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                                </div>
                                {% if i.disable == True %}

                                <div class="modal-body">
                                  <p> Are you sure you want to Enable "{{ i.name }}"? </p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                    onclick="CloseModel('editModal','{{i.id}}')">Close</button>

                                  <button type="button" onclick="deleteFunction(this,'{{i.id}}')"
                                    class="btn btn-success">Enable</button>

                                </div>
                                {% else %}

                                <div class="modal-body">
                                  <p> Are you sure you want to disable "{{ i.name }}"? </p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                    onclick="CloseModel('editModal','{{i.id}}')">Close</button>

                                  <button type="button" onclick="deleteFunction(this,'{{i.id}}')"
                                    class="btn btn-danger">Disable</button>

                                </div>
                                
                              

                                {% endif %}
                               
                              </div>
                            </div>
                          </div>

                        </td>
                      </tr>
                      {% endfor %}

                    </tbody>
                  </table>
                  <div class="row">
                    {% include 'pagination.html' %}
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- container-fluid -->
      </div>
      <!-- End Page-content -->


    </div>
    <!-- end main content-->

  </div>
  <!-- END layout-wrapper -->



  <!--start back-to-top-->
  <button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
    <i class="ri-arrow-up-line"></i>
  </button>
  <!--end back-to-top-->

  <!--preloader-->
  <div id="preloader">
    <div id="status">
      <div class="spinner-border text-primary avatar-sm" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>

  <script>

    document.addEventListener('DOMContentLoaded', function () {


      const viewButtons = document.querySelectorAll('.view-btn');
      const editButtons = document.querySelectorAll('.edit-btn');
      const delButtons = document.querySelectorAll('.del-btn');

      viewButtons.forEach(button => {
        button.addEventListener('click', function () {
          const modalId = this.getAttribute('data-target');
          const modal = document.querySelector(modalId);
          if (modal) {
            $(modal).modal('show');
          }
        });
      });


      editButtons.forEach(button => {
        button.addEventListener('click', function () {
          const modalId = this.getAttribute('data-target');
          const modal = document.querySelector(modalId);
          if (modal) {
            $(modal).modal('show');
          }
        });
      });

      delButtons.forEach(button => {
        button.addEventListener('click', function () {
          const modalId = this.getAttribute('data-target');
          const modal = document.querySelector(modalId);
          if (modal) {
            $(modal).modal('show');
          }
        });
      });


    });




    function createFunction(button) {
      try {
        disableButton(button);
        var isValid = true;
        var errors = {};
        var formData = new FormData();

        var requiredKeys = [
          //change
          "start_date",
          "name",
          "img",
          "role",
          "email",
          
          "mobile",
          "address",
          "monthly_salary",
          "aadhaar_card_image",
          "pan_card_image"
          // "bankaccount",
          // "ifsccode",
          // "bankname",
          // "branch",
        ];
        
        formData.append(
          "img",
          getValueOrDefault($('#createForm input[name="img"]').val())
        );

        formData.append(
          "aadhaar_card_image",
          getValueOrDefault($('#createForm input[name="aadhaar_card_image"]').val())
        );

        formData.append(
          "pan_card_image",
          getValueOrDefault($('#createForm input[name="pan_card_image"]').val())
        );

        formData.append(
          "name",
          getValueOrDefault($('#createForm input[name="name"]').val())
        );

        formData.append(
          "start_date",
            getValueOrDefault($('#createForm input[name="start_date"]').val())
          );

        formData.append(
          "role",
          getValueOrDefault($('#createForm select[name="role"]').val())
        );

        formData.append(
          "mobile",
          getValueOrDefault($('#createForm input[name="mobile"]').val())
        );

        formData.append(
          "monthly_salary",
          getValueOrDefault($('#createForm input[name="monthly_salary"]').val())
        );

        formData.append(
          "email",
          getValueOrDefault($('#createForm input[name="email"]').val())
        );


        formData.append(
          "address",
          getValueOrDefault($('#createForm textarea[name="address"]').val())
        );

        formData.append(
          "bankaccount",
          getValueOrDefault($('#createForm input[name="bankaccount"]').val())
        );

        formData.append(
          "ifsccode",
          getValueOrDefault($('#createForm input[name="ifsccode"]').val())
        );

        formData.append(
          "bankname",
          getValueOrDefault($('#createForm input[name="bankname"]').val())
        );

        formData.append(
          "branch",
          getValueOrDefault($('#createForm input[name="branch"]').val())
        );


        var imgFile = document.querySelector('#createForm input[name="img"]').files[0];
        if (imgFile) {
            formData.append("img", imgFile);
        }
        
        var aadhaarCardFile = document.querySelector('#createForm input[name="aadhaar_card_image"]').files[0];
        if (aadhaarCardFile) {
            formData.append("aadhaar_card_image", aadhaarCardFile);
        }
        
        var panCardFile = document.querySelector('#createForm input[name="pan_card_image"]').files[0];
        if (panCardFile) {
            formData.append("pan_card_image", panCardFile);
        }
        


        console.log("FormData:", formData);

        requiredKeys.forEach(function (key) {
          var value = formData.get(key);
          if (!value.trim()) {
            isValid = false;
            errors[key] = ["This field may not be blank."];
          }
        });

        if (!isValid) {
          enableButton(button);
          console.log(errors);
          handleCreateErrors(errors);
          return;
        } else {
          $("#createForm input, #createForm button").prop(
            //change form id
            "disabled",
            true
          );
          //enableButton(button);
        }

        $.ajax({
          url: "/employee/", //change
          type: "POST", //change
          headers: {
            "X-CSRFToken": csrftoken,
          },
          data: formData, //data
          processData: false,
          contentType: false,
          success: function (response, status, xhr) {

            if (xhr.status === 201) {
              //through 201 status
              showToast("Successfully Updated", "", "bg-success", true);
            } else {

              enableButton(button);
            }
          },
          error: function (xhr, status, error) {
            console.log(xhr, status, error);
            if (xhr.status === 400) {
              if (xhr?.responseJSON || xhr?.responseJSON?.errors) {
                handleCreateErrors(transformErrors(xhr.responseJSON));
                showToast("something went wrong", "", "bg-danger");
                enableButton(button);
              } else {
                showToast("something went wrong", "", "bg-danger");
                enableButton(button);
              }
            } else {
              showToast("something went wrong", "", "bg-danger");
              enableButton(button);
            }
          },
        });
      } catch (error) {
        showToast("An error occurred", "", "bg-danger");
        $("#createForm input, #createForm button").prop(
          "disabled",
          false
        );
        enableButton(button);
        console.error(error);
      }

      finally {
        $("#createForm input, #createForm button").prop(
          "disabled",
          false
        );
        enableButton(button);
      }
    }



    // 
    function updateFunction(button, saveId) {
      try {
        disableButton(button);
        clearErrors();

        const formData = new FormData();

        var formElement = document.getElementById(`editForm${saveId}`);

        var img_input = formElement.querySelector('input[name="img"]');
        if (img_input && img_input.files.length > 0) {
            var img = img_input.files[0];
            formData.append("img", img);
        }

        var aadhaar_card_image_input = formElement.querySelector('input[name="aadhaar_card_image"]');
        if (aadhaar_card_image_input && aadhaar_card_image_input.files.length > 0) {
            var aadhaar_card_image = aadhaar_card_image_input.files[0];
            formData.append("aadhaar_card_image", aadhaar_card_image);
        }

        var pan_card_image_input = formElement.querySelector('input[name="pan_card_image"]');
        if (pan_card_image_input && pan_card_image_input.files.length > 0) {
            var pan_card_image = pan_card_image_input.files[0];
            formData.append("pan_card_image", pan_card_image);
        }


       
        formData.append(
          "name",
          getValueOrDefault($(`#editForm${saveId} input[name="name"]`).val())
        );

        formData.append(
          "start_date",
          getValueOrDefault($(`#editForm${saveId} input[name="start_date"]`).val())
        );


        formData.append(
          "role",
          getValueOrDefault($(`#editForm${saveId} select[name="role"]`).val())
        );


        formData.append(
            "mobile",
            getValueOrDefault($(`#editForm${saveId} input[name="mobile"]`).val())
        );

        formData.append(
          "monthly_salary",
          getValueOrDefault($(`#editForm${saveId} input[name="monthly_salary"]`).val())
        );

        formData.append(
          "address",
          getValueOrDefault($(`#editForm${saveId} input[name="address"]`).val())
        );

        formData.append(
          "bankname",
          getValueOrDefault($(`#editForm${saveId} input[name="bankname"]`).val())
        );

        formData.append(
          "branch",
          getValueOrDefault($(`#editForm${saveId} input[name="branch"]`).val())
        );

        formData.append(
          "bankaccount",
          getValueOrDefault($(`#editForm${saveId} input[name="bankaccount"]`).val())
        );

        formData.append(
          "ifsccode",
          getValueOrDefault($(`#editForm${saveId} input[name="ifsccode"]`).val())
        );

        formData.append(
          "email",
          getValueOrDefault($(`#editForm${saveId} input[name="email"]`).val())
        );



      

     

        console.log(csrftoken);
        $.ajax({
          url: "/save_employee/" + saveId + "/", //change
          type: "PUT", //method
          headers: {
            "X-CSRFToken": csrftoken,
          },
          processData: false,
          contentType: false,
          data: formData,
          success: function (response, status, xhr) {
            if (xhr.status === 200) {
              //through 200 status
              showToast("Successfully Updated", "", "bg-success", true);
            } else {
              showToast("something went wrong", "", "bg-danger");
              enableButton(button);
              console.error(error);
            }
          },
          error: function (xhr, status, error) {
            console.log(xhr, status, error);
            if (xhr.status === 400) {
              if (xhr?.responseJSON || xhr?.responseJSON?.errors) {
                handleUpdateErrors(saveId, transformErrors(xhr.responseJSON));
                enableButton(button);
              } else {
                showToast("something went wrong", "", "bg-danger");
                enableButton(button);
              }
            } else {
              showToast("something went wrong", "", "bg-danger");
              enableButton(button);
            }
          },
        });
      } catch (error) {
        showToast("An error occurred", "", "bg-danger");
        enableButton(button);
        console.error(error);
      }

      

    }



    // 
    function deleteFunction(button, saveId) {

      var stat_message = {"true" :'Disabled'  , "false" : "Enabled" }
      try {
        disableButton(button);

        $.ajax({
          url: '/delete_employee/' + saveId + '/',
          type: 'DELETE',
          headers: {
            'X-CSRFToken': csrftoken,
          },
          processData: false,
          contentType: false,
          success: function (response, status, xhr) {
            if (xhr.status === 200) {
              const status = xhr?.responseJSON?.details?.pop()
                        
              showToast(stat_message[status] + ' successfully', '', deleteMessage?.bgColor, true);
              enableButton(button);

            } else {
              showToast(errorAlertMessage?.message, '', errorAlertMessage?.bgColor);
              enableButton(button);

            }
          },
          error: function (xhr, status, error) {
            console.log(xhr, status, error);
            if (xhr.status === 400) {
              if (xhr?.responseJSON || xhr?.responseJSON?.errors) {
                showToast(xhr?.responseJSON?.details, '', errorAlertMessage?.bgColor);
                // enableButton(button);
              } else {
                showToast(errorAlertMessage?.message, '', errorAlertMessage?.bgColor);
                // enableButton(button);
              }
            }
            else if (xhr.status === 401 || 404) {
              showToast(xhr?.responseJSON?.details, '', errorAlertMessage?.bgColor);
              // enableButton(button);
            }
            else {

              showToast(errorAlertMessage?.message, '', errorAlertMessage?.bgColor);
              // enableButton(button);
            }
          }
        });
      } catch (error) {
        showToast(errorOccured?.message, '', errorOccured?.bgColor);
        console.error(error);
      }
      finally{
        enableButton(button);
      }
    }




  </script>





  {% endblock header2 %}