{% extends "base.html" %}

{% load static %}

{% block header2 %}
<!-- Begin page -->
<div id="layout-wrapper">

	<div class="main-content">

		<div class="page-content">
			<div class="container-fluid">

				<!-- start page title -->
				<div class="row">
					<div class="col-12">
						<div class="page-title-box d-sm-flex align-items-center justify-content-between">
							<h4 class="mb-sm-0">Transfer Management</h4>

							<div class="page-title-right">
								<ol class="breadcrumb m-0">
									<li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
									<li class="breadcrumb-item active">Transfer</li>
								</ol>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-header">

								<div class="row">
									<div class="col-xl-6 col-lg-6 col-md-6 col-12">
										<h2>Transfer List </h2>
									</div>
									<div class="col-xl-4 col-lg-4 col-md-4 col-12"></div>
									<div class="col-xl-2 col-lg-2 col-md-2 col-12">
										<a href="{% url 'transfer' %}" type="button" class="btn btn-info"
											style="float:right;">Add Transfer</a>
										{% comment %} <div class="modal fade bs-example-modal-lg" tabindex="-1"
											role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
											<div class="modal-dialog modal-lg">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="myLargeModalLabel">Add Transfer</h5>
														<button type="button" class="btn-close" data-bs-dismiss="modal"
															aria-label="Close">
														</button>
													</div>                                                                               
													<hr>
													<div class="modal-body">
														<div class="card-body">
															<h2>Site details </h2>
															<hr>
															<div class="row">

																<div class="col-md-6">
																	<label for="" class="form-label">From WH :</label>
																	<select class="form-select mb-3"
																		aria-label="Default select example">
																		<option selected>Where from </option>

																	</select>
																</div>
																<div class="col-md-6">
																	<label for="" class="form-label">To WH :</label>
																	<select class="form-select mb-3"
																		aria-label="Default select example">
																		{% for i in site %}
																		<option value="{{ i.id }}">{{ i.site_location }}
																		</option>
																		{% endfor %}

																	</select>
																</div>

																<div class="col-md-6 mt-2">
																	<label for="" class="form-label">Date :</label>
																	<input type="date" class="form-control" id="">
																</div>
																<div class="col-md-6 mt-2">
																	<label for="" class="form-label">Invoice No
																		:</label>
																	<input type="text" class="form-control" id="">
																</div>
                                                                                                                                                            
															</div>
															<hr>
															<h2>Transfer Items </h2>
															<hr>
															<div class="card-body">
																<table id="tabl"
																	class="table table-bordered dt-responsive nowrap table-striped align-middle"
																	style="width:100%">
																	<thead>
																		<tr>
																			<th scope="col" style="width: 10px;">
																				<div class="form-check">
																					<input
																						class="form-check-input fs-15"
																						type="checkbox" id="checkAll"
																						value="option">
																				</div>
																			</th>
																			<th>S No.</th>
																			<th>Item Name</th>
																			<th>Amount</th>
																			<th>Weight / Qty</th>
																			<th>Total Amount</th>
																			<th>Action</th>
																		</tr>
																	</thead>
																	<tbody>
																		<tr>
																			<th scope="row">
																				<div class="form-check">
																					<input
																						class="form-check-input fs-15"
																						type="checkbox" name="checkAll"
																						value="option1">
																				</div>
																			</th>
																			<td>01</td>
																			<td><input type="text" class="form-control">
																			</td>
																			<td><input type="text" class="form-control">
																			</td>
																			<td><input type="text" class="form-control">
																			</td>
																			<td><input type="text" class="form-control">
																			</td>
																			<td>
																				<div class="dropdown d-inline-block">
																					<button
																						class="btn btn-soft-secondary btn-sm dropdown add-row"
																						type="button"
																						data-bs-toggle="dropdown"
																						aria-expanded="false">
																						<i
																							class="ri-add-fill align-middle"></i>
																					</button>
																					<ul
																						class="dropdown-menu dropdown-menu-end">
																						<li><a href="#!"
																								class="dropdown-item"><i
																									class="ri-eye-fill align-bottom me-2 text-muted"></i>
																								View</a></li>
																						<li><a
																								class="dropdown-item edit-item-btn"><i
																									class="ri-add-fill align-bottom me-2 text-muted"></i>
																								Edit</a></li>
																						<li>
																							<a
																								class="dropdown-item remove-item-btn">
																								<i
																									class="ri-delete-bin-fill align-bottom me-2 text-muted"></i>
																								Delete
																							</a>
																						</li>
																					</ul>
																				</div>
																			</td>
																		</tr>
																	</tbody>
																</table>


															</div>
														</div>

													</div>
													<hr>
													<div class="modal-footer">
														<button class="btn btn-link link-success fw-medium shadow-none"
															data-bs-dismiss="modal"><i
																class="ri-close-line me-1 align-middle"></i>
															Close</button>
														<button type="button" class="btn btn-primary ">Save </button>
													</div>
												</div>

											</div>

										</div>
									</div> {% endcomment %}
								</div>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-xl-2 col-lg-2 col-md-2 col-xs-6 col-12">
										<label for="" class="form-label">Site Name :</label>
										<select class="form-select mb-3" aria-label="Default select example"
											id='fromsite'>
											<option value="-1"> All </option>
											<option value="0"> Inventory </option>
											{% for i in site %}
											<option value="{{ i.id }}">{{ i.site_location }}</option>
											{% endfor %}
										</select>
									</div>
									<div class="col-xl-2 col-lg-2 col-md-2 col-xs-6 col-12">
										<label for="exampleInputdate" class="form-label">From Date</label>
										<input type="date" class="form-control" id="fromdate">
									</div>
									<div class="col-xl-2 col-lg-2 col-md-2 col-xs-6 col-12">
										<label for="exampleInputdate" class="form-label">To Date</label>
										<input type="date" class="form-control" id="todate">
									</div>
									<div class="col-xl-2 col-lg-2 col-md-2 col-xs-6 col-12">
										<br />
										<button type="submit" onclick="getReport(this,'example')"
										class="btn btn-primary waves-effect waves-light mt-2">Get Report
									</button>
									  </div>
								</div>
								<hr>
								<table id="example"
									class="table table-bordered dt-responsive nowrap table-striped align-middle"
									style="width:100%">
									<thead>
										<tr>
											<!-- <th scope="col" style="width: 10px;">
                                                    <div class="form-check">
                                                        <input class="form-check-input fs-15" type="checkbox" id="checkAll" value="option">
                                                    </div>
                                                </th> -->
											<th data-ordering="false">S No.</th>
											<th data-ordering="false">Date</th>
											<th data-ordering="false">Invoice No</th>
											<th data-ordering="false">From </th>
											<th data-ordering="false">To </th>
											{% comment %} <th data-ordering="false">Total Item</th>
											<th data-ordering="false">Total Amount</th> {% endcomment %}
											<th data-ordering="false">Action</th>

										</tr>
									</thead>
									<tbody>

										<!-- {% for i in queryset %}
										<tr>
											<th scope="row">
                                                    <div class="form-check">
                                                        <input class="form-check-input fs-15" type="checkbox" name="checkAll" value="option1">
                                                    </div>
                                                </th>
											<td>{{ forloop.counter }}</td>
											<td>{{ i.created_at }}</td>
											<td>{{ i.invoice_id }}</td>
											<td>{% if i.from_site %}{{ i.from_site }}{% else %} {{i.from_inventory}}
												{% endif %}</td>
											<td>{% if i.to_site %}{{ i.to_site }}{% else %} {{i.to_inventory}}
												{% endif %}</td>

											<td>
												<div class="dropdown d-inline-block">
													<button class="btn btn-soft-secondary btn-sm dropdown" type="button"
														data-bs-toggle="modal" data-bs-target=".bs-example-modal-lg1"
														aria-expanded="false">
														<i class="ri-eye-fill align-middle"></i>
													</button>
													<div class="modal fade bs-example-modal-lg1" tabindex="-1"
														role="dialog" aria-labelledby="myLargeModalLabel"
														aria-hidden="true">
														<div class="modal-dialog modal-lg">
															<div class="modal-content">
																<div class="modal-header">
																	<h5 class="modal-title" id="myLargeModalLabel">
																		Transfer Item List</h5>
																	<button type="button" class="btn-close"
																		data-bs-dismiss="modal" aria-label="Close">
																	</button>
																</div>
																<hr>
																<div class="modal-body">
																	<div class="table-responsive">

																		<table class="table table-bordered">
																			<thead>
																				<tr>
																					<th>S.no</th>
																					<th>Item Name</th>
																					<th>Unit</th>
																					<th>Qty</th>
																					<th>Amount</th>
																					<th>Total Amount</th>
																				</tr>
																			</thead>
																			<tbody>
																				{% for j in i.get_transfer_items %}
																				<tr>

																					<td>{{ forloop.counter }}</td>
																					<td>
																						{% if j.item %}
																						{{ j.item.item}}
																						{% else %}
																						{{ j.name }}
																						{% endif %}
																					</td>
																					<td>{{ j.unit }}</td>
																					<td>{{ j.qty }}</td>
																					<td>{{ j.price }}</td>
																					<td>{{ j.get_total |floatformat:"2"
																						}}</td>

																				</tr>
																				{% endfor %}
																			</tbody>
																		</table>
																	</div>
																</div>
																<hr>
																<div class="modal-footer">
																	<button
																		class="btn btn-link link-success fw-medium shadow-none"
																		data-bs-dismiss="modal"><i
																			class="ri-close-line me-1 align-middle"></i>
																		Close</button>
																	<button type="button" class="btn btn-primary ">Save
																	</button>
																</div>
															</div>
															
														</div>
												
													</div>
													{% comment %} <button class="btn btn-soft-secondary btn-sm dropdown"
														type="button" data-bs-toggle="dropdown" aria-expanded="false">
														<i class="ri-pencil-fill align-middle"></i>
													</button>
													<button class="btn btn-soft-secondary btn-sm dropdown" type="button"
														data-bs-toggle="dropdown" aria-expanded="false">
														<i class="ri-delete-bin-fill align-middle"></i>
													</button> {% endcomment %}

												</div>
											</td>

										</tr>
										{% endfor %} -->


									</tbody>
								</table>


								<div id="results-container"></div>
								<div id="pagination-container"></div>



							</div>
						</div>
					</div>
				</div>
				<!-- container-fluid -->
			</div>
			<!-- End Page-content -->


		</div>
		<!-- end main content-->

	</div>
	<!-- END layout-wrapper -->




	<div class="modal fade bs-example-modal-lg1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="myLargeModalLabel">Transfer Item List </h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="table-responsive">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>S.no</th>
									<th>Item Name</th>
									<th>Unit</th>
									<th>Qty</th>
									<th>Amount</th>
									<th>Total Amount</th>
								</tr>
							</thead>
							<tbody id="modalTableBody">
								<!-- Modal table body will be populated dynamically -->
							</tbody>
						</table>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-link link-success fw-medium shadow-none" data-bs-dismiss="modal"><i
							class="ri-close-line me-1 align-middle"></i> Close</button>
					<button type="button" class="btn btn-primary">Save</button>
				</div>
			</div>
		</div>
	</div>






	<!--start back-to-top-->
	<button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
		<i class="ri-arrow-up-line"></i>
	</button>
	<!--end back-to-top-->

	<!--preloader-->
	<div id="preloader">
		<div id="status">
			<div class="spinner-border text-primary avatar-sm" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
		</div>
	</div>


	<script>

		const existingPaginationContainer = document.getElementById('pagination-container');

		const dropdown = document.getElementById('fromsite');
		const tableBody = document.querySelector('#example tbody');


		// from and to
		const fromdate = document.getElementById('fromdate');
		const todate = document.getElementById('todate');

		var qtyError = false;

		var priceError = false;

		var currentPage = 1;

		document.addEventListener('DOMContentLoaded', function () {

			// const dropdown = document.getElementById('fromsite');
			// const tableBody = document.querySelector('#example tbody');

			// on dom loaded 
			const initialSelectedValue = dropdown.value;
			fetchData( 1);

			// fetch table data API
			dropdown.addEventListener('change', function () {
	
				fetchData( currentPage);
			});

			todate.addEventListener('change', function () {
	
				fetchData(currentPage);
			});

			fromdate.addEventListener('change', function () {
				
				fetchData(currentPage);
			});

		});


		// fetch data
		function fetchData(page) {
	
			const selectedValue = dropdown.value;
			const from = fromdate?.value || ""
			const to = todate?.value || ""
			console.log(fromdate ,todate)
			try {
				fetch(`/transfer-filter/${selectedValue}/?page=${page}&start_date=${from}&end_date=${to}`)
					.then(response => {
						if (response.status === 200) {
							console.log('Data fetched');
							return response.json();
						} else if (response.status === 404) {
							throw new Error('Resource not found');
						} else if (response.ok) {
							throw new Error(`HTTP error! Status: ${response.status}`);
						} else {
							throw new Error('Network response was not ok');
						}
					})
					.then(data => {
						tableBody.innerHTML = '';
						renderDataOrMessage(tableBody, data, page)
					})
					.catch(error => {
						console.error('Error fetching data:', error);
						showToast(errorAlertMessage?.message, '', errorAlertMessage?.bgColor);
					});
			} catch (error) {
				console.error('Error in fetch operation:', error);
			}
		}



		// render table or message

		function renderDataOrMessage(tableBody, data, page) {

			// Check if data is available and not empty
			if (data && Array.isArray(data.results) && data.results.length > 0) {
				// Render the data in the table

				tdata = data?.results

				tdata.forEach((item, index) => {
					const newRow = createTableRow(index + 1, item);
					tableBody.appendChild(newRow);
				});

				renderPagination(data, page)

			} else {
				// Display a message indicating no data available
				tableBody.innerHTML = '<tr><td colspan="6">No data available.</td></tr>';

				existingPaginationContainer.innerHTML = ''; // Clear existing content
			}
		}


		// MANIPULATE TABLE DATA
		function createTableRow(serialNumber, data) {
			const newRow = document.createElement('tr');
			newRow.setAttribute('data-item-id', data.id);

			const idCell = document.createElement('td');
			idCell.textContent =serialNumber;
			newRow.appendChild(idCell);

			// Created At
			const createdAtCell = document.createElement('td');
			createdAtCell.textContent = data.created_at;
			newRow.appendChild(createdAtCell);

			// Invoice ID
			const invoiceIdCell = document.createElement('td');
			invoiceIdCell.textContent = data.invoice_id || "Nill";
			newRow.appendChild(invoiceIdCell);

			// From Site
			const fromSiteCell = document.createElement('td');
			fromSiteCell.textContent = data.from_site ? data.from_site : data.from_inventory
			newRow.appendChild(fromSiteCell);

			// To Site
			const toSiteCell = document.createElement('td');
			toSiteCell.textContent = data.to_site ? data.to_site : data.to_inventory
			newRow.appendChild(toSiteCell);

			// Transfer Items
			const transferItemsCell = document.createElement('td');
			transferItemsCell.innerHTML = `	<button class="btn btn-soft-secondary btn-sm dropdown" type="button" data-bs-toggle="modal" data-bs-target=".bs-example-modal-lg1" aria-expanded="false">
							<i class="ri-eye-fill align-middle"></i>
			 				</button>`
			newRow.appendChild(transferItemsCell);


			transferItemsCell.addEventListener('click', () => {
				populateModalTable(data.get_transfer_items, modalTableBody);
			});

			return newRow;
		}

		// nested table
		function populateModalTable(transferItems, modalTableBody) {
			modalTableBody.innerHTML = ''; // Clear previous data

			transferItems.forEach((tItem, index) => {
				const modalRow = document.createElement('tr');

				const serialCell = document.createElement('td');
				serialCell.textContent = index + 1;
				modalRow.appendChild(serialCell);

				const itemNameCell = document.createElement('td');
				itemNameCell.textContent = tItem.item_name || 'N/A';
				modalRow.appendChild(itemNameCell);

				const unitCell = document.createElement('td');
				unitCell.textContent = tItem.item_unit || 'N/A';
				modalRow.appendChild(unitCell);

				const qtyCell = document.createElement('td');
				qtyCell.textContent = tItem.qty || 'N/A';
				modalRow.appendChild(qtyCell);

				const amountCell = document.createElement('td');
				amountCell.textContent = tItem.price || 'N/A';
				modalRow.appendChild(amountCell);

				const totalAmountCell = document.createElement('td');
				totalAmountCell.textContent = tItem.total_amount || 'N/A';
				modalRow.appendChild(totalAmountCell);

				modalTableBody.appendChild(modalRow);
			});
		}






	</script>



	{% endblock header2 %}