{% extends "base.html" %}
{% load filters %}
{% load static %}


{% block header2 %}

<style>
    .custom-button {
        font-size: 0.85rem;
        /* Increase text size */
        padding: 0.30rem 1.00rem;
        /* Increase button size */
    }

    #create-receipt-btn {
        margin-right: 20px;
        /* Adjust the margin-right as needed */
    }
</style>

<div id="layout-wrapper">

    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Projects</h4>
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                                    <li class="breadcrumb-item active">Client Cash</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">


                    <div class="row">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col text-end">
                                        <a class="btn btn-info btn-sm custom-button mr-3" href="{% url 'project' %}">
                                            Back </a>
                                    </div>
                                </div>
                                <h4>Payment Process</h4>

                                <div class="row">
                                    <div class="col-md-4 mt-2">
                                        <input type="text" class="form-control" id="" name="client" value="{{project.id}}"  hidden
                                        disabled>
                                        <label for="" class="form-label">Client Name:</label>
                                        <input type="text" class="form-control" name="client" value="{{client_name}}"
                                            disabled>
                                        <span id="clientError" class="error-message"></span>
                                    </div>
                                    <div class="col-md-4 mt-2">
                                        <label for="" class="form-label">Project Name:</label>
                                        <input type="text" class="form-control" name="proj_name"
                                            value="{{ project.proj_name }}" disabled>
                                        <span id="projNameError" class="error-message"></span>
                                    </div>
                                    <div class="col-md-4 mt-2">
                                        <label for="" class="form-label">Site Location:</label>
                                        <input type="text" class="form-control" name="site_location"
                                            value="{{ project.site_location }}" disabled>
                                        <span id="siteLocationError" class="error-message"></span>
                                    </div>
                                    <div class="col-md-4 mt-2">
                                        <label for="" class="form-label">Contact No:</label>
                                        <input type="text" class="form-control" name="contact_no"
                                            value="{{ contact_no }}" disabled>
                                        <span id="contactNoError" class="error-message"></span>
                                    </div>
                                    
                                    
                                    <div class="col-md-4 mt-2">
                                        <label for="" class="form-label">Estimation:</label>
                                        <input type="text" class="form-control" name="estimation"
                                            value="{{ project.estimation }}" disabled>
                                        <span id="estimationError" class="error-message"></span>
                                    </div>
                                </div>

                                <div class="row mt-3">

                                    <!-- Total Paid Amount -->
                                    <div class="col bg-primary-subtle p-3 text-center m-2">
                                        <!-- <div class="col-12"> -->
                                        <h5> Total Paid Amount </h5>
                                        <h5>{{ total_paid_amount }}</h5>
                                        <!-- </div> -->
                                    </div>
                                    <!-- Pending Amount -->
                                    <div class="col bg-primary-subtle p-3 text-center m-2">
                                        <!-- <div class="col-12"> -->
                                        <h5> Pending Amount </h5>
                                        <h5>{{ pending_amount }}</h5>
                                        <!-- </div> -->
                                    </div>



                                </div>


                                <div class="col-md-12"> <!-- Use most of the space for the table -->
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col">
                                                    <h2>Payment History</h2>
                                                </div>

                                                <div class="col text-end p-2">

                                                    <button type="button" class="btn btn-primary btn-sm custom-button"
                                                        data-bs-toggle="modal" data-bs-target=".bs-example-modal-lg">+
                                                        Add
                                                        Receipt</button>


                                                </div>



                                            </div>
                                            <div class="row">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <div class="col-xl-2 col-lg-2 col-md-2 col-12">

                                                            <div class="modal fade bs-example-modal-lg p-5"
                                                                tabindex="-1" role="dialog"
                                                                aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                                                
                                                             
                                                                <div class="modal-dialog modal-lg p-5">
                                                                    

                                                                    <div class="modal-content p-4">
                                                                        


                                                                        <div class="d-flex justify-content-between align-items-center mb-4">
                                                                            <h5 class="modal-title">Create New Receipt</h5>
                                                                            <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close" onclick="CloseModel('editModal','{{i.id}}')"></button>
                                                                        </div>
                                                                        
                                                                        


                                                                        <div class="row">

                                                                            <form id="createForm">
                                                                                {% csrf_token %}
                                                                                <div class="row">
                                                                                    <div class="col-md-6">
                                                                                        <label for="date" class="form-label">Date:</label>
                                                                                        <input type="date" class="form-control" id="date" name="date">
                                                                                        <span id="dateError" class="error-message"></span>
                                                                                    </div>
                                                                                    <div class="col-md-6">
                                                                                        <label for="receipt_number" class="form-label">Receipt No:</label>
                                                                                        <input type="text" class="form-control" name="receipt_number" id="receipt_number">
                                                                                        <span id="receipt_numberError" class="error-message"></span>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row mt-3">
                                                                                    <div class="col-md-6">
                                                                                        <label for="payment_method" class="form-label">Payment Method:</label>
                                                                                        <select class="form-select mb-3" aria-label="Default select example" name="payment_method" id="payment_method">
                                                                                            <option value="">----------------</option>
                                                                                            {% for method in payment_methods %}
                                                                                            <option value="{{ method.id }}">{{ method.name }}</option>
                                                                                            {% endfor %}
                                                                                        </select>
                                                                                        <span id="payment_methodError" class="error-message"></span>
                                                                                    </div>
                                                                                    <div class="col-md-6">
                                                                                        <label for="payment_amount" class="form-label">Payment Amount:</label>
                                                                                        <input type="number" class="form-control" name="payment_amount" id="payment_amount" min="0.01" step="0.01">
                                                                                        <span id="payment_amountError" class="error-message"></span>
                                                                                    </div>
                                                                                    <div class="col-md-6">
                                                                                        <label for="img" class="form-label">Upload Receipt
                                                                                            :</label>
                                                                                        <input type="file" class="form-control" id="img"
                                                                                            name="img" required>
                                                                                        <span id="imgError"
                                                                                            class="error-message"></span>
                                                                                    </div>
                                                                                </div>
                                 
                                                                                <div class="modal-footer">

                                                                                    <button type="button" class="btn btn-secondary"
                                                                                        id="" data-bs-dismiss="modal"
                                                                                        onclick="CloseModel('editModal','{{i.id}}')">
            
                                                                                        Cancel
            
                                                                                    </button>
            
                                                                                    <button type="button" class="btn btn-primary"
                                                                                        id="saveuom"
                                                                                        onclick="createFunction(this, {{ project.id }})">
            
                                                                                        Save
            
                                                                                    </button>
            
                                                                                </div>
                                                                            </form> 
                                                                           
                                                                            
                                                                        </div>

                                                                    </div>
                                                                    <!-- /.modal-content -->
                                                                </div>
                                                                <!-- /.modal-dialog -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>




                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Date</th>
                                                        <th>Receipt Number</th>
                                                        <th>Payment Method</th>
                                                        <th>Payment Amount</th>
                                                        <th>Receipt</th>
                                                        <th >Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for payment in payment_history %}
                                                    <tr>
                                                        <td>{{ payment.date }}</td>
                                                        <td>{{ payment.receipt_number }}</td>
                                                        <td>{{ payment.payment_method }}</td>
                                                        <td>{{ payment.payment_amount }}</td>
                                                        <td>
                                                            {% comment %} {% if payment.img %}
                                                                <a href="{{ payment.img.url }}" target="_blank">{{ payment.img.name|filename }}</a>
                                                            {% else %}
                                                                No Image
                                                            {% endif %} {% endcomment %}
                                                            {% if payment.img %}
                                                            <img src="{{ payment.img.url }}" class="img-responsive"
                                                                style="height:40px;width:40px;" alt=" Image">
                                                            {% else %}
                                                            No image available
                                                            {% endif %}
                                                        </td>
                                                        <td>

                                                            <div class="dropdown d-inline-block">
                                                                <button class="btn btn-soft-secondary btn-sm dropdown" type="button"
                                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                                    <i class="ri-more-fill align-middle"></i>
                                                                </button>
                                                                <ul class="dropdown-menu dropdown-menu-end">
                                                                    <li><a class="dropdown-item edit-item-btn"
                                                                             href="#!"
                                                                            onclick="openModal('editModal','{{ payment.id }}')"><i
                                                                                class="ri-pencil-fill align-bottom me-2 text-muted"></i>
                                                                            Edit</a></li>
                                                                </ul>
                                                                <div class="modal fade" id="editModal_{{payment.id}}" tabindex="-1"
													role="dialog" aria-labelledby="editModalLabel" aria-hidden="true"
													data-bs-backdrop="static" data-bs-keyboard="false">

													<div class="modal-dialog modal-lg">

														<div class="modal-content">

															<div class="modal-header">

																<h5 class="modal-title" id="editModalLabel"> Edit
																	Payment History </h5>

																<button type="button" class="btn-close"
																	data-bs-dismiss="modal" aria-label="Close"
																	onclick="CloseModel('editModal','{{payment.id}}')"></button>

															</div>

															<form id="editForm{{ payment.id }}" enctype="multipart/form-data">

																{% csrf_token %}
																<div class="modal-body">

																	<div class="row">

																		<div class="col-md-6 mb-3">

																			<label for="edit_date"
																				class="form-label">Date:</label>

																			<input type="date" class="form-control"
																				id="{{payment.id}}_date"
																				name="date"
																				value="{{ payment.date|date:'Y-m-d' }}" />

																			<span id="{{payment.id}}_dateError"
																				class="error-message"></span>

																		</div>


																		


																		<div class="col-md-6 mb-3">

																			<label for="edit_receipt_number"
																				class="form-label">Receipt Number:</label>

																			<input type="text" class="form-control"
																				id="{{payment.id}}_receipt_number" name="receipt_number"
																				value="{{payment.receipt_number}}" />

																			<span id="{{payment.id}}_receipt_numberError"
																				class="error-message"></span>

																		</div>

																		
																		




																		<div class="col-md-6 mb-3">
																			<label for="edit_payment_method"
																				class="form-label">Payment Method:</label>
																			<select class="form-select"
																				aria-label="Default select example"
																				id="{{payment.id}}_payment_method" name="payment_method">


																				<option value="{{payment.payment_method.id}}"
																					selected>{{payment.payment_method.name}}
																				</option>
																				<option>----------- </option>
																				{% for j in payment_methods %}
																				<option value="{{j.id}}">{{j.name}}
																				</option>
																				{% endfor %}


																			</select>
																			<span id="{{payment.id}}_payment_methodError"
																				class="error-message"></span>
																		</div>

																		

																		<div class="col-md-6 mb-3">

																			<label for="edit_payment_amount"
																				class="form-label">Payment Amount:</label>

																			<input type="text" class="form-control"
																				id="{{payment.id}}_payment_amount"
																				name="payment_amount"
																				value="{{payment.payment_amount}}" />

																			<span id="{{payment.id}}_payment_amountError"
																				class="error-message"></span>

																		</div>


																		

																		 <div class="col-md-6 mb-3">
																			<label for="edit_img">Receipt
																				:</label>
																			<input type="file" class="form-control mb-2"
																				id="{{payment.id}}id_img"
																				name="img"
																				value="{{ payment.img }}">

																			<span class="file-span">
																				<a target="_blank"
																					href="{{ payment.img.url}}">
																					{{payment.img |filename }}
																					</a></span>
																		
																		</div>
																		
																		


																		

																		


																	</div>

																	<div class="modal-footer">

																		<button type="button" class="btn btn-secondary"
																			id="" data-bs-dismiss="modal"
																			onclick="CloseModel('editModal','{{payment.id}}')">

																			Cancel

																		</button>

																		<button type="button" class="btn btn-primary"
																			id="saveuom"
																			onclick="updateFunction(this,'{{payment.id}}')">

																			Save

																		</button>

																	</div>

															</form>

														</div>

													</div>



												</div>

							</div>
                        </div>
                    </td>
                                                        
                                                            

                                                    </tr>
                                                    {% endfor %}
                                                </tbody> 
                                                
                                            </table>
                                        </div>
                                    </div>
                                </div>




                            </div>

                        </div>




                    </div>
                </div>
            </div>
        </div>


        



<script>


    const posturl = "clientcashpay";

    function createFunction(button, pk) {
        var formId = `createForm`;
        var formElement = document.getElementById(formId);
       // var imgError = document.getElementById('imgError');
        try {
            disableButton(button);
            var isValid = true;
            var errors = {};
            var formData = new FormData(formElement);

            var requiredKeys = ['date', 'receipt_number', 'payment_amount', 'payment_method'];

            //var imgFile = formElement.querySelector('input[name="img"]').files[0];
            //if (imgFile) {
           //     formData.append("img", imgFile);
           //     isValid = false;
           //     errors['img'] = 'This field may not be blank.';
           //     imgError.textContent = errors['img'];
           // } else {
           //     // If no file is uploaded, show an error message
           //     isValid = false;
           //     errors['img'] = 'This field may not be blank.';
           //     imgError.textContent = errors['img'];
          //      imgError.style.color = 'red'; 
           // }


            requiredKeys.forEach(function (key) {
                var value = formData.get(key);
                if (!value.trim()) {
                    isValid = false;
                    errors[key] = ['This field may not be blank.'];
                }
            });

            if (!isValid) {
                enableButton(button);
                console.log(errors);
                handleCreateErrors(errors);
                return;
            } else {
                $(`#${formId} input, #${formId} button`).prop('disabled', true);
            }

            $.ajax({
                url: `/${posturl}/${pk}/`,
                type: 'POST',
                headers: {
                    'X-CSRFToken': csrftoken,
                },
                data: formData,
                processData: false,
                contentType: false,
                success: function (response, status, xhr) {
                    if (xhr.status === 201) {
                        showToast(successMesssage?.message, '', successMesssage?.bgColor, true);
                    } else {
                        console.error(response);
                        restoreForm(formId, button);
                    }
                },
                error: function (xhr, status, error) {
                    console.log(xhr, status, error);
                    if (xhr.status === 400) {
                        if (xhr?.responseJSON || xhr?.responseJSON?.errors) {
                            handleCreateErrors(transformErrors(xhr.responseJSON));
                        } else {
                            showToast(errorAlertMessage?.message, '', errorAlertMessage?.bgColor);
                        }
                    } else if (xhr.status === 401 || 404) {
                        showToast(xhr?.responseJSON?.details, '', errorAlertMessage?.bgColor);
                    } else {
                        showToast(errorAlertMessage?.message, '', errorAlertMessage?.bgColor);
                    }
                    restoreForm(formId, button);
                }
            });
            } catch (error) {
                showToast(errorOccured?.message, '', errorOccured?.bgColor);
                console.error(error);
                restoreForm(formId, button);
            } finally {
                restoreForm(formId, button);
            }
    }


</script> 



<script>

        function updateFunction(button, saveId) {

            var formId = `editForm${saveId}`;   //change
            var formElement = document.getElementById(formId);

            var isValid = true;
            var errors = {};


            try {
                disableButton(button);
                clearErrors();

                var requiredKeys = ['date','payment_amount','payment_amount','receipt_number',];   //change


                const formData = new FormData();

                formData.append('date', getValueOrDefault(formElement.querySelector('input[name="date"]').value));              //change
                formData.append('receipt_number', getValueOrDefault(formElement.querySelector('input[name="receipt_number"]').value));
                formData.append('payment_amount', getValueOrDefault(formElement.querySelector('select[name="payment_method"]').value));
                formData.append('payment_amount', getValueOrDefault(formElement.querySelector('input[name="payment_amount"]').value));

                var img = formElement.querySelector('input[name="img"]').files[0];
					if (img) {
						formData.append("img", img);
					}
            

        

                


                requiredKeys.forEach(function (key) {
                    var value = formData.get(key);
                    if (!value.trim()) {
                        isValid = false;
                        errors[key] = ['This field may not be blank.'];
                    }
                });

                if (!isValid) {
                    enableButton(button);
                    console_log(errors);
                    handleUpdateErrors(saveId, transformErrors(errors));
                    return;
                } else {
                    $(`#${formId} input, #${formId} button`).prop('disabled', true);

                }


                console_log(csrftoken);
                $.ajax({
                    url: '/update_clientcashpay/' + saveId + '/',   //change
                    type: 'PUT',
                    headers: {
                        'X-CSRFToken': csrftoken,
                    },
                    processData: false,
                    contentType: false,
                    data: formData,
                    success: function (response, status, xhr) {
                        if (xhr.status === 200) {
                            showToast(updateMessage?.message, '', updateMessage?.bgColor,true);
                            restoreForm(formId, button)
                        } else {
                            showToast(errorAlertMessage?.message, '', errorAlertMessage?.bgColor);
                            restoreForm(formId, button)

                        }
                    },
                    error: function (xhr, status, error) {
                        console_log(xhr, status, error);
                        if (xhr.status === 400) {
                            if (xhr?.responseJSON || xhr?.responseJSON?.errors) {
                                handleUpdateErrors(saveId, transformErrors(xhr.responseJSON));
                                restoreForm(formId, button)
                            } else {

                                showToast(errorAlertMessage?.message, '', errorAlertMessage?.bgColor);
                                restoreForm(formId, button)

                            }
                        }
                        else if (xhr.status === 401 || 404) {
                            showToast(xhr?.responseJSON?.details, '', errorAlertMessage?.bgColor);
                            restoreForm(formId, button)

                        }
                        else {

                            showToast(errorAlertMessage?.message, '', errorAlertMessage?.bgColor);
                            restoreForm(formId, button)

                        }
                    }
                });
            } catch (error) {
                showToast(errorOccured?.message, '', errorOccured?.bgColor);
                restoreForm(formId, button)
                console.error(error);
            }
        }

</script>


{% endblock header2 %}