{% extends "base.html" %}
{% load filters %}
{% load static %}
<!-- CSRF Token for AJAX requests -->
{% csrf_token %}


{% block header2 %}

<style>
    .custom-button {
        font-size: 0.85rem;
        /* Increase text size */
        padding: 0.30rem 1.00rem;
        /* Increase button size */
    }

    #create-receipt-btn {
        margin-right: 20px;
        /* Adjust the margin-right as needed */
    }


    /* Status Badge Colors */
    .badge-status-yet-to-start {
        background-color: skyblue;
        color: black;
    }

    .badge-status-pending {
        background-color: #FFA500;
        color: black;
    }

    .badge-status-completed {
        background-color: green;
        color: white;
    }

    .badge-status-ongoing {
        background-color: #008080;
        color: black;
    }

    

</style>

<div id="layout-wrapper">

    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0"></h4>
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                                    <li class="breadcrumb-item active">Project Schedule</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">


                    <div class="row">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col text-end">
                                        <a class="btn btn-info btn-sm custom-button mr-3" href="{% url 'project' %}">
                                            Back </a>
                                    </div>
                                </div>
                                <h4>Project Schedule</h4>

                                <div class="row">
                                    <div class="col-md-4 mt-2">
                                        <input type="text" class="form-control" id="" name="client" value="{{project.id}}"  hidden
                                        disabled>
                                        <label for="" class="form-label">Client Name:</label>
                                        <input type="text" class="form-control" name="client" value="{{ project.client }}"
                                            disabled>
                                        <span id="clientError" class="error-message"></span>
                                    </div>
                                    <div class="col-md-4 mt-2">
                                        <label for="" class="form-label">Project Name:</label>
                                        <input type="text" class="form-control" name="proj_name"
                                            value="{{ project.proj_name }}" disabled>
                                        <span id="projNameError" class="error-message"></span>
                                    </div>
                                    <div class="col-md-4 mt-2">
                                        <label for="" class="form-label">Site Location:</label>
                                        <input type="text" class="form-control" name="site_location"
                                            value="{{ project.site_location }}" disabled>
                                        <span id="siteLocationError" class="error-message"></span>
                                    </div>
                                    <div class="col-md-4 mt-2">
                                        <label for="" class="form-label">Contact No:</label>
                                        <input type="text" class="form-control" name="contact_no"
                                            value="{{ project.contact_no }}" disabled>
                                        <span id="contactNoError" class="error-message"></span>
                                    </div>
                                    
                                    
                                    <div class="col-md-4 mt-2">
                                        <label for="" class="form-label">Estimation:</label>
                                        <input type="text" class="form-control" name="estimation"
                                            value="{{ project.estimation }}" disabled>
                                        <span id="estimationError" class="error-message"></span>
                                    </div>
                                </div>

                                


                                <div class="col-md-12"> <!-- Use most of the space for the table -->
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col">
                                                    <h2></h2>
                                                </div>

                                                <div class="col text-end p-2">

                                                    <button type="button" class="btn btn-primary btn-sm custom-button"
                                                        data-bs-toggle="modal" data-bs-target=".bs-example-modal-lg">+
                                                        Add
                                                        Schedule</button>


                                                </div>



                                            </div>
                                            <div class="row">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <div class="col-xl-2 col-lg-2 col-md-2 col-12">

                                                            <div class="modal fade bs-example-modal-lg p-5"
                                                                tabindex="-1" role="dialog"
                                                                aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                                                
                                                             
                                                                <div class="modal-dialog modal-lg p-5">
                                                                    

                                                                    <div class="modal-content p-4">
                                                                        


                                                                        <div class="d-flex justify-content-between align-items-center mb-4">
                                                                            <h5 class="modal-title">Create Schedule</h5>
                                                                            <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close" onclick="CloseModel('editModal','{{i.id}}')"></button>
                                                                        </div>
                                                                        
                                                                        


                                                                        <div class="row">

                                                                            


                                                                            <form id="createForm" class="p-3">
                                                                                {% csrf_token %}
                                                                                <div class="row g-3">
                                                                                    <div class="col-md-6">
                                                                                        <label for="task_name" class="form-label">Task Name<span class="text-danger">*</span></label>
                                                                                        <input type="text" class="form-control" id="task_name" name="task_name" placeholder="Enter task name">
                                                                                        <span id="task_nameError" class="error-message text-danger"></span>
                                                                                    </div>
                                                                                    <div class="col-md-6">
                                                                                        <label for="qty" class="form-label">Amount<span class="text-danger">*</span></label>
                                                                                        <input type="text" class="form-control" id="qty" name="qty" placeholder="Enter amount">
                                                                                        <span id="qtyError" class="error-message text-danger"></span>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row g-3 mt-3">
                                                                                    <div class="col-md-6">
                                                                                        <label for="start_date" class="form-label">Start Date<span class="text-danger">*</span></label>
                                                                                        <input type="date" class="form-control" id="start_date" name="start_date">
                                                                                        <span id="start_dateError" class="error-message text-danger"></span>
                                                                                    </div>
                                                                                    <div class="col-md-6">
                                                                                        <label for="end_date" class="form-label">End Date<span class="text-danger">*</span></label>
                                                                                        <input type="date" class="form-control" id="end_date" name="end_date">
                                                                                        <span id="end_dateError" class="error-message text-danger"></span>
                                                                                    </div>
                                                                                    <div class="col-md-12">
                                                                                        <label for="description" class="form-label">Description</label>
                                                                                        <textarea class="form-control" id="description" name="description" rows="3" placeholder="Enter description"></textarea>
                                                                                        <span id="descriptionError" class="error-message text-danger"></span>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="modal-footer mt-4">
                                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="CloseModel('editModal', '{{i.id}}')">Cancel</button>
                                                                                    <button type="button" class="btn btn-primary" id="saveuom" onclick="createFunction(this, '{{ project.id }}')">Save</button>
                                                                                </div>
                                                                            </form>
                                                                            
                                                                            
                                                                           
                                                                            
                                                                        </div>

                                                                    </div>
                                                                    <!-- /.modal-content -->
                                                                </div>
                                                                <!-- /.modal-dialog -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>




                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>S.No</th>
                                                        <th>Task Name</th>
                                                        <th>Description</th>
                                                        {% comment %} <th>Unit</th> {% endcomment %}
                                                        <th>Amount</th>
                                                        <th>Start Date</th>
                                                        <th>End Date</th>
                                                        <th>Status</th>
                                                        <th >Action</th> 
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for i in project_schedule %}
                                                    <tr>
                                                        <td>{{ forloop.counter }}</td>
                                                        <td>{{ i.task_name }}</td>
                                                        <td>{{ i.description }}</td>
                                                        {% comment %} <td>{{ i.unit }}</td> {% endcomment %}
                                                        <td>{{ i.qty }}</td>
                                                        <td>{{ i.start_date|date:"d-m-Y" }}</td>
                                                        <td>{{ i.end_date|date:"d-m-Y" }}</td>

                                                        <td>

                                                            <div class="dropdown d-inline-block">
                                                                <span id="status-badge-{{ i.id }}"
                                                                      class="statustag badge align-middle fs-10
                                                                             {% if i.status.code == '-2' %} badge-status-yet-to-start
                                                                             {% elif i.status.code == '-1' %} badge-status-pending
                                                                             {% elif i.status.code == '0' %} badge-status-completed
                                                                             {% elif i.status.code == '1' %} badge-status-ongoing
                                                                             {% endif %}"
                                                                      data="{{i.status.code}}">
                                                                      {{i.status.name}}
                                                                </span>
                                                            
                                                                <a class="dropdown-toggle" href="#" role="button"
                                                                   id="dropdownMenuButton-{{ i.id }}" data-bs-toggle="dropdown"
                                                                   aria-expanded="false">
                                                                </a>
                                                                <ul class="dropdown-menu status-dropdown" aria-labelledby="dropdownMenuButton-{{ i.id }}">
                                                                    <li><a class="dropdown-item" href="#" data-status="-2" data-id="{{ i.id }}">Yet to Start</a></li>
                                                                    <li><a class="dropdown-item" href="#" data-status="-1" data-id="{{ i.id }}">Pending</a></li>
                                                                    <li><a class="dropdown-item" href="#" data-status="0" data-id="{{ i.id }}">Completed</a></li>
                                                                    <li><a class="dropdown-item" href="#" data-status="1" data-id="{{ i.id }}">Ongoing</a></li>
                                                                </ul>
                                                            </div>
                                                            
                                                        </td> 
                                                        <td>

                                                                <div class="btn-group" role="group">
                                                                    <!-- <button class="btn btn-soft-secondary btn-sm me-2" type="button" data-id="{{i.id}}" onclick="openModal('viewModal', '{{ i.id }}')">
                                                                        <i class="ri-eye-fill align-bottom me-2 text-muted"></i> -->
                                                                        <!-- History
                                                                    </button> -->

                                                                    <a class="btn btn-soft-secondary btn-sm me-2" href="{% url 'project_schedulehistory' i.id %}">
                                                                        <!-- <i class="ri-eye-fill align-bottom me-2 text-muted"></i> -->
                                                                        History
                                                                    </a>
                                                                    
                                                                    {% comment %} <button class="btn btn-soft-primary btn-sm me-2" type="button" onclick="openModal('editModal','{{ i.id }}')">
                                                                        <!-- <i class="ri-pencil-fill align-bottom me-2 text-muted"></i>  -->
                                                                        Edit
                                                                    </button>
                                                                    <button class="btn btn-soft-danger btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#deleteModal{{ i.id }}">
                                                                        
                                                                        Delete
                                                                    </button>  {% endcomment %}
                                                                    <div class="dropdown">
                                                                        <button class="btn btn-soft-secondary btn-sm dropdown" type="button"
                                                                        data-bs-toggle="dropdown" aria-expanded="false"><i class="ri-more-fill align-middle"></i></button>
                                                                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton{{i.id}}">
                                                                          <li><a class="dropdown-item" href="#" onclick="openModal('editModal', '{{ i.id }}')"><i
                                                                            class="ri-pencil-fill align-bottom me-2 text-muted"></i>Edit</a></li>
                                                                          <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal{{ i.id }}"><i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i>Delete</a></li>
                                                                      </ul>
                                                                  </div>
      
      
                                                                    <div class="modal fade" id="editModal_{{ i.id}}" tabindex="-1" aria-labelledby="editModalLabel"
                                aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
                                <div class="modal-dialog modal-lg">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="editModalLabel"> Edit Project Schedule '{{i.task_name}}'
                                       </h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                        onclick="CloseModel('editModal','{{i.id}}')"></button>
                                    </div>
                                    <div class="modal-body">
                                      <form id="editForm{{ i.id }}" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="row">
                                          <div class="col-md-6 mb-3">
      
                                          <label for="edit_task_name" class="form-label">Task Name:</label>
                                          <input type="text" class="form-control" id="{{i.id}}_task_name" name="task_name"
                                            value="{{i.task_name}}" />
      
                                          <span id="{{i.id}}_task_nameError" class="error-message"></span>
                                        </div>
      
                                        {% comment %} <div class="col-md-6 mb-3">
                                          <label for="edit_unit"
                                              class="form-label">Unit:</label>
                                          <select class="form-select"
                                              aria-label="Default select example"
                                              id="{{i.id}}_unit"
                                              name="unit">
      
                                              <option value="{{i.unit.id}}"
                                                  selected>{{i.unit.name}}
                                              </option>
                                              <option>----------- </option>
                                              {% for j in unit %}
      
                                              <option value="{{j.id}}">{{j.name}}
                                              </option>
                                              {% endfor %}
                                          </select>
                                          <span id="{{i.id}}_unitError"
                                              class="error-message"></span>
                                      </div> {% endcomment %}
                                        
      
                                          <div class="col-md-6 mb-3">
      
                                              <label for="edit_qty" class="form-label">Amount:</label>
                                              <input type="text" class="form-control" id="{{i.id}}_qty" name="qty"
                                                value="{{i.qty}}" />
          
                                              <span id="{{i.id}}_qtyError" class="error-message"></span>
                                            </div>
      
                                            <div class="col-md-6 mb-3">
      
                                              <label for="edit_start_date"
                                                  class="form-label">Start Date:</label>
      
                                              <input type="date" class="form-control"
                                                  id="{{i.id}}_start_date"
                                                  name="start_date"
                                                  value="{{ i.start_date|date:'Y-m-d' }}" />
      
                                              <span id="{{i.id}}_start_dateError"
                                                  class="error-message"></span>
      
                                          </div>
      
      
                                          <div class="col-md-6 mb-3">
      
                                              <label for="edit_start_date"
                                                  class="form-label">End Date:</label>
      
                                              <input type="date" class="form-control"
                                                  id="{{i.id}}_end_date" name="end_date"
                                                  value="{{ i.end_date|date:'Y-m-d'}}" />
      
                                              <span id="{{i.id}}_end_dateError"
                                                  class="error-message"></span>
      
                                          </div>
      
                                          <div class="col-md-6 mb-3">
      
                                              <label for="edit_name" class="form-label">Description:</label>
                                              <!-- <input type="text" class="form-control" id="{{i.id}}_description"
                                                name="description" value="{{i.description}}" /> -->
                                                <textarea type="text" class="form-control"
                                                id="{{i.id}}_description" name="description" rows="5"
                                                value="{{ i.description }}"> {{ i.description }} </textarea>
        
        
                                              <span id="{{i.id}}_nameError" class="error-message"></span>
                                            </div>
                                        </div>
                                      </form>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" id="" data-bs-dismiss="modal"
                                        onclick="CloseModel('editModal','{{i.id}}')">
                                        Cancel
                                      </button>
                                      <button type="button" class="btn btn-primary" id="savecategory"
                                        onclick="updateFunction(this,'{{i.id}}')">
                                        Save
                                      </button>
                                    </div>
                                  </div>
                                </div>
                              </div>
      
      
                                                                    <div class="modal fade" id="deleteModal{{ i.id}}" tabindex="-1"
                                                                                  aria-labelledby="deleteModalLabel-{{ forloop.counter }}" aria-hidden="true">
                                                                                  <div class="modal-dialog">
                                                                                      <div class="modal-content">
                                                                                      <div class="modal-header">
                                                                                          <h5 class="modal-title" id="deleteModalLabel-{{ forloop.counter }}"> 
                                                                                          {{i.task_name}}</h5>
                                                                                          <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                                          aria-label="Close"></button>
                                                                                      </div>
                                                                                      <div class="modal-body">
                                                                                          <p> Are you sure you want to delete "{{ i.task_name }}"? </p>
                                                                                      </div>
                                                                                      <div class="modal-footer">
                                                                                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Cancel </button>
      
      
                                                                                          <button type="button" onclick="deleteFunction(this,'{{i.id}}')"
                                                                                          class="btn btn-danger">Delete</button>
      
                                                                                      </div>
                                                                                      </div>
                                                                                  </div>
                                                                                  </div>


                                                                
                                                        </td> 

                                                    </tr>
                                                    {% endfor %}
                                                </tbody> 
                                                
                                            </table>
                                        </div>
                                    </div>
                                </div>




                            </div>

                        </div>




                    </div>
                </div>
            </div>
        </div>


        
<script>
    document.addEventListener('DOMContentLoaded', function () {


const viewButtons = document.querySelectorAll('.view-btn');
const editButtons = document.querySelectorAll('.edit-btn');
const delButtons = document.querySelectorAll('.del-btn');
console.log(delButtons)
viewButtons.forEach(button => {
  button.addEventListener('click', function () {
    const modalId = this.getAttribute('data-target');
    const modal = document.querySelector(modalId);
    if (modal) {
      $(modal).modal('show');
    }
  });
});


editButtons.forEach(button => {
  button.addEventListener('click', function () {
    const modalId = this.getAttribute('data-target');
    const modal = document.querySelector(modalId);
    if (modal) {
      $(modal).modal('show');
    }
  });
});

delButtons.forEach(button => {
  button.addEventListener('click', function () {
    const modalId = this.getAttribute('data-target');
    const modal = document.querySelector(modalId);
    if (modal) {
      $(modal).modal('show');
    }
  });
});


});
</script>


<script>


    const posturl = "add_project_schedule";

    function createFunction(button, pk) {
        var formId = `createForm`;
        var formElement = document.getElementById(formId);
       // var imgError = document.getElementById('imgError');
        try {
            disableButton(button);
            var isValid = true;
            var errors = {};
            var formData = new FormData(formElement);

            var requiredKeys = ['start_date',  'task_name', 'end_date','qty'];




            requiredKeys.forEach(function (key) {
                var value = formData.get(key);
                if (!value.trim()) {
                    isValid = false;
                    errors[key] = ['This field may not be blank.'];
                }
            });

            if (!isValid) {
                enableButton(button);
                console.log(errors);
                handleCreateErrors(errors);
                return;
            } else {
                $(`#${formId} input, #${formId} button`).prop('disabled', true);
            }

            $.ajax({
                url: `/${posturl}/${pk}/`,
                type: 'POST',
                headers: {
                    'X-CSRFToken': csrftoken,
                },
                data: formData,
                processData: false,
                contentType: false,
                success: function (response, status, xhr) {
                    if (xhr.status === 201) {
                        showToast(successMesssage?.message, '', successMesssage?.bgColor, true);
                    } else {
                        console.error(response);
                        restoreForm(formId, button);
                    }
                },
                error: function (xhr, status, error) {
                    console.log(xhr, status, error);
                    if (xhr.status === 400) {
                        if (xhr?.responseJSON || xhr?.responseJSON?.errors) {
                            handleCreateErrors(transformErrors(xhr.responseJSON));
                        } else {
                            showToast(errorAlertMessage?.message, '', errorAlertMessage?.bgColor);
                        }
                    } else if (xhr.status === 401 || 404) {
                        showToast(xhr?.responseJSON?.details, '', errorAlertMessage?.bgColor);
                    } else {
                        showToast(errorAlertMessage?.message, '', errorAlertMessage?.bgColor);
                    }
                    restoreForm(formId, button);
                }
            });
            } catch (error) {
                showToast(errorOccured?.message, '', errorOccured?.bgColor);
                console.error(error);
                restoreForm(formId, button);
            } finally {
                restoreForm(formId, button);
            }
    }


</script> 




<!-- Include jQuery (if not already included) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function() {
        // Handle dropdown item click
        $('.dropdown-menu a.dropdown-item').on('click', function(e) {
            e.preventDefault();

            // Get the new status code and the project schedule ID
            var newStatus = $(this).data('status');
            var projectScheduleId = $(this).data('id');

            // Perform an AJAX request to update the status
            $.ajax({
                type: 'POST',
                url: '/update-project-schedule-status/',  // Adjust this URL to your endpoint
                data: {
                    project_schedule_id: projectScheduleId,
                    new_status_code: newStatus
                },
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'  // Ensure CSRF token is included
                },
                success: function(response) {
                    if (response.success) {
                        // Update the status badge text and data attribute
                        var statusBadge = $('#status-badge-' + projectScheduleId);
                        statusBadge.attr('data', newStatus);
                        
                        // Update the badge text to reflect the new status name
                        statusBadge.text(getStatusName(newStatus));
                    } else {
                        alert('Error: ' + response.error);
                    }
                },
                error: function(xhr, status, error) {
                    //alert('Requestghgh failed: ' + error);
                }
            });
        });

        // Function to map status codes to their display names
        function getStatusName(statusCode) {
            switch(statusCode) {
                case -2:
                    return 'Yet to Start';
                case -1:
                    return 'Pending';
                case 0:
                    return 'Completed';
                case 1:
                    return 'Ongoing';
                default:
                    return 'Unknown';
            }
        }
    });
</script>

<script>
    function deleteFunction(button, saveId) {
        try {
          disableButton(button);
    
          $.ajax({
            url: '/delete-project-schedule/' + saveId + '/',
            type: 'DELETE',
            headers: {
              'X-CSRFToken': csrftoken,
            },
            processData: false,
            contentType: false,
            success: function (response, status, xhr) {
              if (xhr.status === 204) {
                showToast(deleteMessage?.message, '', deleteMessage?.bgColor, true);
                enableButton(button);
    
              } else {
                showToast(errorAlertMessage?.message, '', errorAlertMessage?.bgColor);
                enableButton(button);
    
              }
            },
            error: function (xhr, status, error) {
              console.log(xhr, status, error);
              if (xhr.status === 400) {
                if (xhr?.responseJSON || xhr?.responseJSON?.errors) {
                  showToast(xhr?.responseJSON?.details, '', errorAlertMessage?.bgColor);
                  enableButton(button);
                } else {
                  showToast(errorAlertMessage?.message, '', errorAlertMessage?.bgColor);
                  enableButton(button);
                }
              }
              else if (xhr.status === 401 || 404) {
                showToast(xhr?.responseJSON?.details, '', errorAlertMessage?.bgColor);
                enableButton(button);
              }
              else {
    
                showToast(errorAlertMessage?.message, '', errorAlertMessage?.bgColor);
                enableButton(button);
              }
            }
          });
        } catch (error) {
          showToast(errorOccured?.message, '', errorOccured?.bgColor);
          console.error(error);
        }
      }
    
    </script>

<script>
    function updateFunction(button, saveId) {

        var formId = `editForm${saveId}`;   //change
        var formElement = document.getElementById(formId);
    
        var isValid = true;
        var errors = {};
    
    
        try {
          disableButton(button);
          clearErrors();
    
          const formData = new FormData();
    
          formData.append('task_name', getValueOrDefault(formElement.querySelector('input[name="task_name"]').value));    //change
          formData.append('description', getValueOrDefault(formElement.querySelector('textarea[name="description"]').value));
          formData.append('start_date', getValueOrDefault(formElement.querySelector('input[name="start_date"]').value));
          formData.append('end_date', getValueOrDefault(formElement.querySelector('input[name="end_date"]').value));
          formData.append('qty', getValueOrDefault(formElement.querySelector('input[name="qty"]').value));
          //formData.append('unit', getValueOrDefault(formElement.querySelector('select[name="unit"]').value));

    
    
          var requiredKeys = ['task_name',];     //change
    
          requiredKeys.forEach(function (key) {
            var value = formData.get(key);
            if (!value.trim()) {
              isValid = false;
              errors[key] = ['This field may not be blank.'];
            }
          });
    
          if (!isValid) {
            enableButton(button);
            console.log(errors);
            handleUpdateErrors(saveId, transformErrors(errors));
            return;
          } else {
            $(`#${formId} input, #${formId} button`).prop('disabled', true);
    
          }
    
    
          console.log(csrftoken);
          $.ajax({
            url: '/update-project-schedule/' + saveId + '/',   //change
            type: 'PUT',
            headers: {
              'X-CSRFToken': csrftoken,
            },
            processData: false,
            contentType: false,
            data: formData,
            success: function (response, status, xhr) {
              if (xhr.status === 200) {
                showToast(updateMessage?.message, '', updateMessage?.bgColor, true);
                restoreForm(formId, button)
              } else {
                showToast(errorAlertMessage?.message, '', errorAlertMessage?.bgColor);
                restoreForm(formId, button)
    
              }
            },
            error: function (xhr, status, error) {
              console.log(xhr, status, error);
              if (xhr.status === 400) {
                if (xhr?.responseJSON || xhr?.responseJSON?.errors) {
                  handleUpdateErrors(saveId, transformErrors(xhr.responseJSON));
                  restoreForm(formId, button)
                } else {
    
                  showToast(errorAlertMessage?.message, '', errorAlertMessage?.bgColor);
                  restoreForm(formId, button)
    
                }
              }
              else if (xhr.status === 401 || 404) {
                showToast(xhr?.responseJSON?.details, '', errorAlertMessage?.bgColor);
                restoreForm(formId, button)
    
              }
              else {
    
                showToast(errorAlertMessage?.message, '', errorAlertMessage?.bgColor);
                restoreForm(formId, button)
    
              }
            }
          });
        } catch (error) {
          showToast(errorOccured?.message, '', errorOccured?.bgColor);
          restoreForm(formId, button)
          console.error(error);
        }
      }
    
</script>



{% endblock header2 %}