{% extends "base.html" %}
{% load filters %}
{% load static %}


{% block header2 %}

<div id="layout-wrapper">

	<div class="main-content">

		<div class="page-content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						<div class="page-title-box d-sm-flex align-items-center justify-content-between">
							<h4 class="mb-sm-0">Project Management</h4>
							<div class="page-title-right">
								<ol class="breadcrumb m-0">
									<li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
									<li class="breadcrumb-item active">Projects</li>
								</ol>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xl-5 col-lg-5 col-md-6 col-xs-6 col-12">

					</div>
					<div class="col-xl-5 col-lg-4 col-md-3 col-xs-6 col-12"></div>
					<div class="col-xl-2 col-lg-3 col-md-3 col-xs-6 col-12">


						<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
							aria-labelledby="myLargeModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-lg">
								<form id="createForm" enctype="multipart/form-data">


									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="myLargeModalLabel">New Project</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal"
												aria-label="Close">
											</button>

										</div>
										<hr>
										<div class="modal-body">
											<div class="row">
												<div class="col-lg-12">
													<div class="card">
														<div class="card-body">

															<div class="row">
																<div class="col-md-4 ">
																	<label for="" class="form-label">Client Name
																		<span style="color: red;">*</span></label>
																	<input type="text" class="form-control" id="client"
																		name="client">
																	<span id="clientError" class="error-message"></span>
																</div>

																<div class="col-md-4">
																	<label for="" class="form-label">Contact No
																		<span style="color: red;">*</span> </label>
																	<input type="number" class="form-control" id="contact_no"
																		name='contact_no'>
																	<span id="contact_noError"
																		class="error-message"></span>
																</div>

																
																<div class="col-md-4">
																	<label for="" class="form-label">Select Category
																		<span style="color: red;">*</span> </label>
																	<select class="form-select mb-3"
																		aria-label="Default select example"
																		name="proj_category" id="proj_category">

																		<option value="">----------------</option>
																		{% for i in category %}
																		<option value="{{i.id}}">{{i.name}} </option>
																		{% endfor %}

																	</select>
																	<span id="proj_categoryError"
																		class="error-message"></span>
																</div>


																<div class="col-md-4 mt-2">
																	<label for="" class="form-label">Project Name
																		<span style="color: red;">*</span> </label>
																	<input type="text" class="form-control" id="proj_name"
																		name="proj_name">
																	<span id="proj_nameError"
																		class="error-message"></span>
																</div>

																<div class="col-md-4 mt-2">
																	<label for="" class="form-label">Project Area
																		<span style="color: red;">*</span> </label>
																	<input type="text" class="form-control"
																		id="site_location" name="site_location">
																	<span id="site_locationError"
																		class="error-message"></span>

																</div>

																<div class="col-md-4 mt-2">
																	<label for="" class="form-label">Select Incharge
																		<span style="color: red;">*</span> </label>
																	<select class="form-select mb-3"
																		aria-label="Default select example"
																		name="incharge" id="incharge">

																		<option value="">----------------</option>
																		{% for i in engineer %}
																		<option value="{{i.id}}">{{i.name}} </option>
																		{% endfor %}

																	</select>
																	<span id="inchargeError"
																		class="error-message"></span>
																</div>



																<div class="col-md-4 mt-2">
																	<label for="" class="form-label">Starting Date
																		<span style="color: red;">*</span> </label>
																	<input type="date" class="form-control" id="start_date"
																		name="start_date">
																	<span id="start_dateError"
																		class="error-message"></span>

																</div>

																<div class="col-md-4 mt-2">
																	<label for="" class="form-label">End Date
																		<span style="color: red;">*</span> </label>
																	<input type="date" class="form-control" id="end_date"
																		name="end_date">
																	<span id="end_dateError"
																		class="error-message"></span>

																</div>




																<div class="col-md-4 mt-2">
																	<label for="" class="form-label">Priority <span style="color: red;">*</span> </label>
																	<select class="form-select mb-3"
																		aria-label="Default select example"
																		name='priority' id="priority">

																		<option value="">----------------</option>
																		{% for i in priority %}
																		<option value="{{i.id}}">{{i.name}} </option>
																		{% endfor %}

																	</select>
																	<span id="priorityError"
																		class="error-message"></span>
																</div>


																<div class="col-md-4 mt-2">
																	<label for="" class="form-label">Estimation
																		<span style="color: red;">*</span> </label>
																	<input type="number" class="form-control" id="estimation"
																		name="estimation">
																	<span id="estimationError"
																		class="error-message"></span>
																</div>


																<div class="col-md-4 mt-2">
																	<label for="" class="form-label">Upload Model Design
																		:</label>
																	<input type="file" class="form-control" id=""
																		name="modeldesign">
																	<span id="modeldesignError"
																		class="error-message"></span>
																</div>


																<div class="col-md-4 mt-2">
																	<label for="" class="form-label">Agreement Image
																		:</label>
																	<input type="file" class="form-control" id=""
																		name="aggeaments">
																	<span id="aggeamentsError"
																		class="error-message"></span>
																</div>

																<div class="col-md-6 mt-2">
																	<label for="" class="form-label">Description
																		:</label>
																	<textarea rows="3" class="form-control"
																		id="description" name="description"></textarea>
																	<span class="error-message"
																		id="descriptionError"></span>
																</div>

																<div class="col-md-6 mt-2">
																	<label for="" class="form-label">Terms & Condition
																		<span style="color: red;">*</span> </label>
																	<textarea rows="3" class="form-control"
																		id="terms_conditions"
																		name="terms_conditions"></textarea>
																	<span class="error-message"
																		id="terms_conditionsError"></span>
																</div>


															</div>

														</div>
													</div>
												</div>
											</div>
										</div>
										<hr>
										<div class="modal-footer">
											<p class="text-center mt-2">
												<button class="btn btn-link link-success fw-medium shadow-none"
													data-bs-dismiss="modal"><i class="ri-close-line me-1 align-middle"
														onclick="clearErrors()"></i> Close</button>
												<button type="button" class="btn btn-primary"
													onclick="createFunction(this)">Save </button>
											</p>
										</div>
									</div>
									<!-- /.modal-content -->
							</div>

							</form>
							<!-- /.modal-dialog -->
						</div>

					</div>
					<div class="row">
						<div class="card">
							<div class="card-body">

								<div class="row "> 
									<div class="col">
										<h4>Project Lists</h4>
									</div>
									
									<div class="col">
										<button type="button" class="btn btn-info" style="float:right;"
										data-bs-toggle="modal" data-bs-target=".bs-example-modal-lg">+
										Add</button>
									</div>
									
								</div>


								<div class="row mt-2">
									{% include "search.html" %}

								</div>

								<hr>
								<table id="example"
									class="table table-bordered dt-responsive nowrap table-striped align-middle"
									style="width:100%">
									<thead>
										<tr>

											<th data-ordering="false">S.No</th>
											<th data-ordering="false">Date</th>
											<th data-ordering="false">Client Name</th>
											<th data-ordering="false">Contact No</th>
											<th data-ordering="false">Project Name</th>
											<th data-ordering="false">Site Location</th>
											<th data-ordering="false">Incharge Name</th>
											{% comment %} <th data-ordering="false">Priority</th>
											<th data-ordering="false"> Duration </th> {% endcomment %}
											<th data-ordering="false">Status</th>
											<th data-ordering="false">Action</th>
										</tr>
									</thead>
									<tbody>
										{% for i in queryset %}
										<tr>

											<td>{{ forloop.counter }}</td>
											<td>{{ i.start_date }}</td>
											<td>{{ i.client }}</td>
											<td>{{ i.contact_no }}</td>
											<td>{{ i.proj_name |truncate }}</td>
											<td>{{ i.site_location |truncate }}</td>
											<td>{{ i.incharge }}</td>
											{% comment %} <td>{{ i.priority }}</td>
											<td>{{ i.duration }}</td> {% endcomment %}
											<td>
												<div class="dropdown d-inline-block">
													<span id="status-badge-{{ i.id }}"
														class="statustag badge  align-middle fs-10"
														data="{{i.status.code}}">{{i.status.name}} </span>

													<!-- {% if i.status.code == "-2" %}
													<span id="status-badge-{{ i.id }}"
														class="statustag badge bg-info align-middle fs-10">Yet to Start</span>
													{% elif i.status.code == "-1" %}
													<span id="status-badge-{{ i.id }}"
														class="badge bg-danger align-middle fs-10">Pending</span>
													{% elif i.status.code == "0" %}
													<span id="status-badge-{{ i.id }}"
														class="badge bg-danger align-middle fs-10">Completed</span>
													{% else %}
													<span id="status-badge-{{ i.id }}"
														class="badge bg-warning align-middle fs-10">Ongoing</span>
													{% endif %} -->

													<a class="dropdown-toggle" href="#" role="button"
														id="dropdownMenuButton-{{ i.id }}" data-bs-toggle="dropdown"
														aria-expanded="false">

													</a>
													<ul class="dropdown-menu status-dropdown"
														aria-labelledby="dropdownMenuButton-{{ i.id }}">
														<li><a class="dropdown-item" href="#" data-status="-2"
																data-id="{{ i.id }}">Yet to Start</a></li>
														<li><a class="dropdown-item" href="#" data-status="-1"
																data-id="{{ i.id }}">Pending</a></li>
														<li><a class="dropdown-item" href="#" data-status="0"
																data-id="{{ i.id }}">Completed</a></li>
														<li><a class="dropdown-item" href="#" data-status="1"
																data-id="{{ i.id }}">Ongoing</a></li>
													</ul>
												</div>
											</td>
											<td>

												<div class="dropdown d-inline-block">
													<button class="btn btn-soft-secondary btn-sm dropdown" type="button"
														data-bs-toggle="dropdown" aria-expanded="false">
														<i class="ri-more-fill align-middle"></i>
													</button>
													<ul class="dropdown-menu dropdown-menu-end">
														<li><a class="dropdown-item" href="#!"  data-id="{{i.id}}"
																onclick="openModal('viewModal', '{{ i.id }}')"><i
																 class="ri-eye-fill align-bottom me-2 text-muted"></i>
																View</a></li>
														<li><a class="dropdown-item edit-item-btn"
																 href="#!"
																onclick="openModal('editModal','{{ i.id }}')"><i
																	class="ri-pencil-fill align-bottom me-2 text-muted"></i>
																Edit</a></li>
														<!-- <li>
															<a class="dropdown-item remove-item-btn del-btn" href="#!"
																data-target="#deleteModal{{ i.id}}">
																<i
																	class="ri-delete-bin-fill align-bottom me-2 text-muted"></i>
																Delete
															</a>
														</li> -->
													</ul>

													<a 
													class="btn btn-soft-secondary btn-sm p-0 m-1"
														href="{% url 'clientcash' i.id %}">
														<img src="{% static 'assets/icon/cashinward.png' %}" class ='button-img-icon'>
													</a>

												

												</div>
												<div class="modal fade" id="viewModal_{{i.id}}" tabindex="-1"
													role="dialog" aria-labelledby="viewModalLabel" aria-hidden="true"
													data-bs-backdrop="static" data-bs-keyboard="false">

													<div class="modal-dialog modal-lg">

														<div class="modal-content">

															<div class="modal-header">

																<h5 class="modal-title" id="viewModalLabel">View Project
																</h5>

																<button type="button" class="btn-close"
																	data-bs-dismiss="modal" aria-label="Close"
																	onclick="CloseModel('viewModal', '{{i.id}}')"></button>

															</div>

															<div class="modal-body">
																<div class="row">
																	<div class="col-md-6 mt-3">
																		<label for="{{i.id}}_start_date"
																			class="form-label">Start Date:</label>
																		<input type="text" class="form-control"
																			id="{{i.id}}_start_date" name="start_date"
																			value="{{i.start_date}}" readonly>
																	</div>

																	<div class="col-md-6 mt-3">
																		<label for="{{i.id}}_end_date"
																			class="form-label">End Date:</label>
																		<input type="text" class="form-control"
																			id="{{i.id}}_end_date" name="end_date"
																			value="{{i.start_date}}" readonly>
																	</div>

																	<div class="col-md-6 mt-3">
																		<label for="{{i.id}}_client"
																			class="form-label">Client Name:</label>
																		<input type="text" class="form-control"
																			id="{{i.id}}_client" name="client"
																			value="{{i.client}}" readonly>
																	</div>

																	<div class="col-md-6 mt-3">
																		<label for="{{i.id}}_contact_no"
																			class="form-label">Contact No:</label>
																		<input type="text" class="form-control"
																			id="{{i.id}}_contact_no" name="contact_no"
																			value="{{i.contact_no}}" readonly>
																	</div>



																	<div class="col-md-6 mt-3">
																		<label for="{{i.id}}_proj_name"
																			class="form-label">Project Name:</label>
																		<input type="text" class="form-control"
																			id="{{i.id}}_proj_name" name="proj_name"
																			value="{{i.proj_name}}" readonly>
																	</div>

																	<div class="col-md-6 mt-3">
																		<label for="{{i.id}}_site_location"
																			class="form-label">Site Location:</label>
																		<input type="text" class="form-control"
																			id="{{i.id}}_site_location"
																			name="site_location"
																			value="{{i.site_location}}" readonly>
																	</div>

																	<div class="col-md-6 mt-3">
																		<label for="{{i.id}}_incharge"
																			class="form-label">Incharge Name:</label>
																		<input type="text" class="form-control"
																			id="{{i.id}}_incharge" name="incharge"
																			value="{{i.incharge}}" readonly>
																	</div>

																	<div class="col-md-6 mt-3">
																		<label for="{{i.id}}_proj_category"
																			class="form-label">Category:</label>
																		<input type="text" class="form-control"
																			id="{{i.id}}_proj_category"
																			name="proj_category"
																			value="{{i.proj_category}}" readonly>
																	</div>

																	<div class="col-md-6 mt-3">
																		<label for="{{i.id}}_estimation"
																			class="form-label">Estimation:</label>
																		<input type="text" class="form-control"
																			id="{{i.id}}_estimation" name="estimation"
																			value="{{i.estimation}}" readonly>
																	</div>

																	<div class="col-md-6 mt-3">
																		<label for="{{i.id}}_priority"
																			class="form-label">Priority:</label>
																		<input type="text" class="form-control"
																			id="{{i.id}}_priority" name="priority"
																			value="{{i.priority}}" readonly>
																	</div>

																	<!-- <div class="col-md-6 mt-3">
																		<label for="{{i.id}}_duration"
																			class="form-label">Duration:</label>
																		<input type="text" class="form-control"
																			id="{{i.id}}_duration" name="duration"
																			value="{{i.duration}}" readonly>
																	</div> -->

																	<div class="col-md-6 mt-3">
																		<label for="{{i.id}}_modeldesign"
																			class="form-label">Model Design:</label>
																		<br>
																		<span class="file-span"> <a target="_blank"
																				href="{{ i.modeldesign.url}}">
																				{{i.modeldesign |filename }}</a></span>


																	</div>


																	<div class="col-md-6 mt-3">
																		<label for="{{i.id}}_aggeaments"
																			class="form-label">Aggeaments:</label>
																		<br>
																		<span class="file-span"> <a target="_blank"
																				href="{{ i.aggeaments.url}}">
																				{{i.aggeaments|filename }}</a></span>

																	</div>

																	<div class="col-md-6 mt-3">
																		<label for="{{i.id}}_description"
																			class="form-label">Description:</label>
																		<textarea rows="3" class="form-control"
																			id="{{i.id}}_description" name="description"
																			readonly>{{i.description}}</textarea>
																	</div>

																	<div class="col-md-6 mt-3">
																		<label for="{{i.id}}_terms_conditions"
																			class="form-label">Terms & Conditions
																			:</label>
																		<textarea rows="3" class="form-control"
																			id="{{i.id}}_terms_conditions"
																			name="terms_conditions"
																			readonly>{{i.terms_conditions}}</textarea>
																	</div>


																</div>

															</div>

															<div class="modal-footer">
																<button type="button" class="btn btn-secondary"
																	data-bs-dismiss="modal"
																	onclick="CloseModel('viewModal', '{{i.id}}')">Close</button>
															</div>

														</div>

													</div>

												</div>

												<div class="modal fade" id="editModal_{{i.id}}" tabindex="-1"
													role="dialog" aria-labelledby="editModalLabel" aria-hidden="true"
													data-bs-backdrop="static" data-bs-keyboard="false">

													<div class="modal-dialog modal-lg">

														<div class="modal-content">

															<div class="modal-header">

																<h5 class="modal-title" id="editModalLabel"> Edit
																	Project </h5>

																<button type="button" class="btn-close"
																	data-bs-dismiss="modal" aria-label="Close"
																	onclick="CloseModel('editModal','{{i.id}}')"></button>

															</div>

															<form id="editForm{{ i.id }}" enctype="multipart/form-data">

																{% csrf_token %}
																<div class="modal-body">

																	<div class="row">

																		<div class="col-md-6 mb-3">

																			<label for="edit_start_date"
																				class="form-label">Start Date:</label>

																			<input type="date" class="form-control"
																				id="{{i.id}}_start_date"
																				name="start_date"
																				value="{{ i.start_date|date:'Y-m-d' }}" />

																			<span id="{{i.id}}_start_dateError"
																				class="error-message"></span>

																		</div>


																		<div class="col-md-6 mb-3">

																			<label for="edit_start_date"
																				class="form-label">End Date:</label>

																			<input type="date" class="form-control"
																				id="{{i.id}}_end_date" name="end_date"
																				value="{{i.end_date |date:'Y-m-d'}}" />

																			<span id="{{i.id}}_end_dateError"
																				class="error-message"></span>

																		</div>


																		<div class="col-md-6 mb-3">

																			<label for="edit_client"
																				class="form-label">Client Name:</label>

																			<input type="text" class="form-control"
																				id="{{i.id}}_client" name="client"
																				value="{{i.client}}" />

																			<span id="{{i.id}}_clientError"
																				class="error-message"></span>

																		</div>

																		<div class="col-md-6 mb-3">

																			<label for="edit_contact_no"
																				class="form-label">Contact No:</label>

																			<input type="text" class="form-control"
																				id="{{i.id}}_contact_no"
																				name="contact_no"
																				value="{{i.contact_no}}" />

																			<span id="{{i.id}}_contact_noError"
																				class="error-message"></span>

																		</div>

																		{% comment %} <div class="col-md-6">

																			<label for="edit_proj_id"
																				class="form-label">Project Id:</label>

																			<input type="text" class="form-control"
																				id="{{i.id}}_proj_id" name="proj_id"
																				value="{{i.proj_id}}" />

																			<span id="{{i.id}}_proj_idError"
																				class="error-message"></span>

																		</div> {% endcomment %}

																		<div class="col-md-6 mb-3">

																			<label for="edit_proj_name"
																				class="form-label">Project Name:</label>

																			<input type="text" class="form-control"
																				id="{{i.id}}_proj_name" name="proj_name"
																				value="{{i.proj_name}}" />

																			<span id="{{i.id}}_proj_nameError"
																				class="error-message"></span>

																		</div>

																		<div class="col-md-6 mb-3">

																			<label for="edit_site_location"
																				class="form-label">Site
																				Location:</label>

																			<input type="text" class="form-control"
																				id="{{i.id}}_site_location"
																				name="site_location"
																				value="{{i.site_location}}" />

																			<span id="{{i.id}}_site_locationError"
																				class="error-message"></span>

																		</div>




																		<div class="col-md-6 mb-3">
																			<label for="edit_proj_category"
																				class="form-label">Category:</label>
																			<select class="form-select"
																				aria-label="Default select example"
																				id="{{i.id}}_proj_category"
																				name="proj_category">

																				<option value="{{i.proj_category.id}}"
																					selected>{{i.proj_category.name}}
																				</option>
																				<option>----------- </option>
																				{% for j in category %}

																				<option value="{{j.id}}">{{j.name}}
																				</option>
																				{% endfor %}
																			</select>
																			<span id="{{i.id}}_proj_categoryError"
																				class="error-message"></span>
																		</div>

																		<div class="col-md-6 mb-3">
																			<label for="edit_incharge"
																				class="form-label">Incharge Name:</label>
																			<select class="form-select"
																				aria-label="Default select example"
																				id="{{i.id}}_incharge" name="incharge">

																				<option value="{{i.incharge.id}}"
																					selected>{{i.incharge.name}}
																				</option>
																				<option>----------- </option>
																				{% for j in engineer %}
																				<option value="{{j.id}}">{{j.name}}
																				</option>
																				{% endfor %}
																			</select>
																			<span id="{{i.id}}_inchargeError"
																				class="error-message"></span>
																		</div>

																		<div class="col-md-6 mb-3">
																			<label for="edit_priority"
																				class="form-label">Priority:</label>
																			<select class="form-select"
																				aria-label="Default select example"
																				id="{{i.id}}_priority" name="priority">


																				<option value="{{i.priority.id}}"
																					selected>{{i.priority.name}}
																				</option>
																				<option>----------- </option>
																				{% for j in priority %}
																				<option value="{{j.id}}">{{j.name}}
																				</option>
																				{% endfor %}


																			</select>
																			<span id="{{i.id}}_priorityError"
																				class="error-message"></span>
																		</div>

																		<!-- <div class="col-md-6 mb-3">
																			<label for="edit_duration"
																				class="form-label">Duration :</label>
																			<select class="form-select"
																				aria-label="Default select example"
																				id="{{i.id}}_duration" name="duration">

																				<option value="{{i.duration.id}}"
																					selected>{{i.duration.name}}
																				</option>
																				<option>----------- </option>
																				{% for j in duration %}
																				<option value="{{j.id}}">{{j.name}}
																				</option>
																				{% endfor %}


																			</select>
																			<span id="{{i.id}}_durationError"
																				class="error-message"></span>
																		</div> -->

																		<div class="col-md-6 mb-3">

																			<label for="edit_estimation"
																				class="form-label">Estimation:</label>

																			<input type="text" class="form-control"
																				id="{{i.id}}_estimation"
																				name="estimation"
																				value="{{i.estimation}}" />

																			<span id="{{i.id}}_estimationError"
																				class="error-message"></span>

																		</div>


																		{% comment %} <div class="col-md-6 mb-3"></div>
																		{% endcomment %}
																		<div class="col-md-6 mb-3">
																			<label for="editmodeldesign">Model
																				Design:</label>
																			<input type="file" class="form-control mb-2"
																				id="{{i.id}}id_modeldesign"
																				name="modeldesign"
																				value="{{ i.modeldesign }}">

																			<span class="file-span">
																				<a target="_blank"
																					href="{{ i.modeldesign.url}}">
																					{{i.modeldesign |filename }}
																					</a></span>
																			<!-- <div class="p-1"
																				style="width:92%;border:1px solid gray;font-size:12px">
																				<a
																					href="{{ i.modeldesign.url }}">{{i.modeldesign}}</a>
																				<span id="{{i.id}}_modeldesignError"
																					class="error-message"></span>

																			</div> -->
																			<!-- <button class="btn btn-primary btn-sm"
																				style="margin-left:92%;margin-top:-49px"><i
																					class="mdi mdi-arrow-down"></i></button> -->

																		</div>

																		 <div class="col-md-6 mb-3">
																			<label for="editaggeaments">Aggeaments
																				:</label>
																			<input type="file" class="form-control mb-2"
																				id="{{i.id}}id_aggeaments"
																				name="aggeaments"
																				value="{{ i.aggeaments }}">

																			<span class="file-span">
																				<a target="_blank"
																					href="{{ i.aggeaments.url}}">
																					{{i.aggeaments |filename }}
																					</a></span>
																		
																		</div>
																		
																		


																		<div class="col-md-6 mb-3">
																			<label for="edit_description"
																				class="form-label">Description:</label>
																			<textarea rows="3" class="form-control"
																				id="{{i.id}}_description"
																				name="description">{{i.description}}</textarea>
																			<span id="{{i.id}}_descriptionError"
																				class="error-message"></span>
																		</div>

																		<div class="col-md-6 mb-3">
																			<label for="edit_terms_conditions"
																				class="form-label">Terms &
																				Conditions:</label>
																			<textarea rows="3" class="form-control"
																				id="{{i.id}}_terms_conditions"
																				name="terms_conditions">{{i.terms_conditions}}</textarea>
																			<span id="{{i.id}}_terms_conditionsError"
																				class="error-message"></span>
																		</div>


																	</div>

																	<div class="modal-footer">

																		<button type="button" class="btn btn-secondary"
																			id="" data-bs-dismiss="modal"
																			onclick="CloseModel('editModal','{{i.id}}')">

																			Cancel

																		</button>

																		<button type="button" class="btn btn-primary"
																			id="saveuom"
																			onclick="updateFunction(this,'{{i.id}}')">

																			Save

																		</button>

																	</div>

															</form>

														</div>

													</div>



												</div>

							</div>
							<!-- for delete -->

							<div class="modal fade" id="deleteModal{{ i.id}}" tabindex="-1"
								aria-labelledby="deleteModalLabel-{{ forloop.counter }}" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="deleteModalLabel-{{ forloop.counter }}"> Delete
												Project </h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal"
												aria-label="Close"></button>
										</div>
										<div class="modal-body">
											<p> Are you sure you want to delete "{{ i.client }}"? </p>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
												Cancel </button>


											<button type="button" onclick="deleteFunction(this,'{{i.id}}')"
												class="btn btn-danger">Delete</button>

										</div>
									</div>
								</div>
							</div>
							</td>
							</tr>

							{% endfor %}

							</tbody>
							</table>

							<div class="row">
								{% include 'pagination.html' %}
							</div>


						</div>
					</div>
				</div>
			</div>

		</div>



		<!--start back-to-top-->
		<button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
			<i class="ri-arrow-up-line"></i>
		</button>
		<!--end back-to-top-->

		<!--preloader-->
		<div id="preloader">
			<div id="status">
				<div class="spinner-border text-primary avatar-sm" role="status">
					<span class="visually-hidden">Loading...</span>
				</div>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>






		<script>

			var status_colors = { "-1": "bg-danger", "-2": "bg-info", "0": "bg-primary", "1": "bg-success" }

			document.addEventListener('DOMContentLoaded', function () {


				function formatDateToISO(dateString) {
					const dateObject = new Date(dateString);
					const year = dateObject.getFullYear();
					const month = (dateObject.getMonth() + 1).toString().padStart(2, '0'); // Months are zero-based
					const day = dateObject.getDate().toString().padStart(2, '0');
					return `${year}-${month}-${day}`;
				}



				// Set the value of the date input using querySelector for input type="date"
				const dateInputs = document.querySelectorAll('input[type="date"]')
				dateInputs.forEach(dateInput => {
					console_log('Original Value:', dateInput.value);
					dateInput.value = formatDateToISO(dateInput.value);
					console_log('Formatted Value:', dateInput.value);
				});




				const viewButtons = document.querySelectorAll('.view-btn');
				const editButtons = document.querySelectorAll('.edit-btn');
				const delButtons = document.querySelectorAll('.del-btn');

				const statusSpan = document.querySelectorAll('.statustag');


				statusSpan.forEach(item => {

					changeStatus(item)
				});




				viewButtons.forEach(button => {
					button.addEventListener('click', function () {
						const modalId = this.getAttribute('data-target');
						const modal = document.querySelector(modalId);
						if (modal) {
							$(modal).modal('show');
						}

					});
				});


				editButtons.forEach(button => {
					button.addEventListener('click', function () {
						const modalId = this.getAttribute('data-target');
						const modal = document.querySelector(modalId);
						if (modal) {
							$(modal).modal('show');
						}




					});
				});

				delButtons.forEach(button => {
					button.addEventListener('click', function () {
						const modalId = this.getAttribute('data-target');
						const modal = document.querySelector(modalId);
						if (modal) {
							$(modal).modal('show');
						}
					});
				});


			});



			// create form

			function createFunction(button) {
				var formId = `createForm`;   //change
				var formElement = document.getElementById(formId);
				try {
					disableButton(button);
					var isValid = true;
					var errors = {};
					var formData = new FormData();

					var requiredKeys = ['proj_category','start_date','end_date','priority','terms_conditions','incharge','proj_name', 'client', 'contact_no', 'site_location', 'estimation'];   //change


					formData.append('description', getValueOrDefault(formElement.querySelector('textarea[name="description"]').value));              //change
					formData.append('client', getValueOrDefault(formElement.querySelector('input[name="client"]').value));
					formData.append('contact_no', getValueOrDefault(formElement.querySelector('input[name="contact_no"]').value));
					formData.append('proj_name', getValueOrDefault(formElement.querySelector('input[name="proj_name"]').value));
					formData.append('site_location', getValueOrDefault(formElement.querySelector('input[name="site_location"]').value));

					formData.append('start_date', getValueOrDefault(formElement.querySelector('input[name="start_date"]').value));
					formData.append('end_date', getValueOrDefault(formElement.querySelector('input[name="end_date"]').value));

					formData.append('incharge', getValueOrDefault(formElement.querySelector('select[name="incharge"]').value));
					// formData.append('duration', getValueOrDefault(formElement.querySelector('select[name="duration"]').value));
					formData.append('priority', getValueOrDefault(formElement.querySelector('select[name="priority"]').value));
					formData.append('terms_conditions', getValueOrDefault(formElement.querySelector('textarea[name="terms_conditions"]').value));
					formData.append('proj_category', getValueOrDefault(formElement.querySelector('select[name="proj_category"]').value));
					formData.append('estimation', getValueOrDefault(formElement.querySelector('input[name="estimation"]').value));

					// var aggeaments = document.querySelector('#createForm input[type="file"]').files[0];
					// if (aggeaments) {
					// 	formData.append("aggeaments", aggeaments);
					// }

					// var modeldesign = document.querySelector('#createForm input[type="file"]').files[0];
					// if (modeldesign) {
					// 	formData.append("modeldesign", modeldesign);
					// }


					var agreementsFile = formElement.querySelector('input[name="aggeaments"]').files[0];
					if (agreementsFile) {
						formData.append("aggeaments", agreementsFile);
					}

					var modeldesignFile = formElement.querySelector('input[name="modeldesign"]').files[0];
					if (modeldesignFile) {
						formData.append("modeldesign", modeldesignFile);
					}


					requiredKeys.forEach(function (key) {
						var value = formData.get(key);
						if (!value.trim()) {
							isValid = false;
							errors[key] = ['This field may not be blank.'];
						}
					});

					if (!isValid) {
						enableButton(button);
						console_log(errors);
						handleCreateErrors(errors);
						return;
					} else {
						$(`#${formId} input, #${formId} button`).prop('disabled', true);

					}

					$.ajax({
						url: '/add_project/',                //change
						type: 'POST',
						headers: {
							'X-CSRFToken': csrftoken,
						},
						data: formData,
						processData: false,
						contentType: false,
						success: function (response, status, xhr) {
							console.error(status);
							if (xhr.status === 201) {
								showToast(successMesssage?.message, '', successMesssage?.bgColor, true);
							} else {
								console.error(error);
								restoreForm(formId, button)

							}
						},
						error: function (xhr, status, error) {
							console_log(xhr, status, error);
							if (xhr.status === 400) {
								if (xhr?.responseJSON || xhr?.responseJSON?.errors) {
									handleCreateErrors(transformErrors(xhr.responseJSON));
									restoreForm(formId, button)

								} else {
									showToast(errorAlertMessage?.message, '', errorAlertMessage?.bgColor);
									restoreForm(formId, button)

								}
							}
							else if (xhr.status === 401 || 404) {
								showToast(xhr?.responseJSON?.details, '', errorAlertMessage?.bgColor);
								restoreForm(formId, button)

							}
							else {
								showToast(errorAlertMessage?.message, '', errorAlertMessage?.bgColor);
								restoreForm(formId, button)

							}
						}
					});
				} catch (error) {
					showToast(errorOccured?.message, '', errorOccured?.bgColor);
					restoreForm(formId, button)
					console.error(error);
				}
			}




			// update

			function updateFunction(button, saveId) {

				var formId = `editForm${saveId}`;   //change
				var formElement = document.getElementById(formId);

				var isValid = true;
				var errors = {};


				try {
					disableButton(button);
					clearErrors();

					var requiredKeys = ['start_date','end_date','priority','incharge','terms_conditions','description','proj_name', 'client', 'contact_no', 'site_location', 'estimation'];   //change


					const formData = new FormData();
					formData.append('description', getValueOrDefault(formElement.querySelector('textarea[name="description"]').value));
                    formData.append('terms_conditions', getValueOrDefault(formElement.querySelector('textarea[name="terms_conditions"]').value));
					formData.append('proj_name', getValueOrDefault(formElement.querySelector('input[name="proj_name"]').value));              //change
					formData.append('client', getValueOrDefault(formElement.querySelector('input[name="client"]').value));
					formData.append('contact_no', getValueOrDefault(formElement.querySelector('input[name="contact_no"]').value));
					formData.append('site_location', getValueOrDefault(formElement.querySelector('input[name="site_location"]').value));
					formData.append('incharge', getValueOrDefault(formElement.querySelector('select[name="incharge"]').value));

					formData.append('priority', getValueOrDefault(formElement.querySelector('select[name="priority"]').value));

					formData.append('end_date', getValueOrDefault(formElement.querySelector('input[name="end_date"]').value));

					formData.append('start_date', getValueOrDefault(formElement.querySelector('input[name="start_date"]').value));
					formData.append('proj_name', getValueOrDefault(formElement.querySelector('input[name="proj_name"]').value));
					formData.append('proj_category', getValueOrDefault(formElement.querySelector('select[name="proj_category"]').value));

					formData.append('estimation', getValueOrDefault(formElement.querySelector('input[name="estimation"]').value));

			

					// Update the file input names in your form to ensure they are unique
					var agreementsFile = formElement.querySelector('input[name="aggeaments"]').files[0];
					if (agreementsFile) {
						formData.append("aggeaments", agreementsFile);
					}

					var modeldesignFile = formElement.querySelector('input[name="modeldesign"]').files[0];
					if (modeldesignFile) {
						formData.append("modeldesign", modeldesignFile);
					}


					requiredKeys.forEach(function (key) {
						var value = formData.get(key);
						if (!value.trim()) {
							isValid = false;
							errors[key] = ['This field may not be blank.'];
						}
					});

					if (!isValid) {
						enableButton(button);
						console_log(errors);
						handleUpdateErrors(saveId, transformErrors(errors));
						return;
					} else {
						$(`#${formId} input, #${formId} button`).prop('disabled', true);

					}


					console_log(csrftoken);
					$.ajax({
						url: '/update_project/' + saveId + '/',   //change
						type: 'PUT',
						headers: {
							'X-CSRFToken': csrftoken,
						},
						processData: false,
						contentType: false,
						data: formData,
						success: function (response, status, xhr) {
							if (xhr.status === 200) {
								showToast(updateMessage?.message, '', updateMessage?.bgColor,true);
								restoreForm(formId, button)
							} else {
								showToast(errorAlertMessage?.message, '', errorAlertMessage?.bgColor);
								restoreForm(formId, button)

							}
						},
						error: function (xhr, status, error) {
							console_log(xhr, status, error);
							if (xhr.status === 400) {
								if (xhr?.responseJSON || xhr?.responseJSON?.errors) {
									handleUpdateErrors(saveId, transformErrors(xhr.responseJSON));
									restoreForm(formId, button)
								} else {

									showToast(errorAlertMessage?.message, '', errorAlertMessage?.bgColor);
									restoreForm(formId, button)

								}
							}
							else if (xhr.status === 401 || 404) {
								showToast(xhr?.responseJSON?.details, '', errorAlertMessage?.bgColor);
								restoreForm(formId, button)

							}
							else {

								showToast(errorAlertMessage?.message, '', errorAlertMessage?.bgColor);
								restoreForm(formId, button)

							}
						}
					});
				} catch (error) {
					showToast(errorOccured?.message, '', errorOccured?.bgColor);
					restoreForm(formId, button)
					console.error(error);
				}
			}








			function deleteFunction(button, saveId) {
				try {
					disableButton(button);

					$.ajax({
						url: '/delete_project/' + saveId + '/',
						type: 'DELETE',
						headers: {
							'X-CSRFToken': csrftoken,
						},
						processData: false,
						contentType: false,
						success: function (response, status, xhr) {

							if (xhr.status === 204) {

								showToast(deleteMessage?.message, '', deleteMessage?.bgColor, true);
								enableButton(button);

							} else {
								showToast(errorAlertMessage?.message, '', errorAlertMessage?.bgColor);
								enableButton(button);

							}
						},
						error: function (xhr, status, error) {
							console_log(xhr, status, error);
							if (xhr.status === 400) {
								if (xhr?.responseJSON || xhr?.responseJSON?.errors) {
									showToast(xhr?.responseJSON?.details, '', errorAlertMessage?.bgColor);
									enableButton(button);
								} else {
									showToast(errorAlertMessage?.message, '', errorAlertMessage?.bgColor);
									enableButton(button);
								}
							}
							else if (xhr.status === 401 || 404) {
								showToast(xhr?.responseJSON?.details, '', errorAlertMessage?.bgColor);
								enableButton(button);
							}
							else {

								showToast(errorAlertMessage?.message, '', errorAlertMessage?.bgColor);
								enableButton(button);
							}
						}
					});
				} catch (error) {
					showToast(errorOccured?.message, '', errorOccured?.bgColor);
					console.error(error);
				}
			}

		</script>



		<script>


			$(document).ready(function () {
				$('.status-dropdown a').click(function (event) {
					event.preventDefault();
					var new_status_code = $(this).data('status');
					var status_text = $(this).text();
					var project_id = $(this).data('id');
					var element = document.getElementById('status-badge-' + project_id)


					// Send an AJAX request to update the status
					$.ajax({
						type: 'POST',
						url: '/update_projectstatus/',
						data: {
							'project_id': project_id,
							'new_status_code': new_status_code,
							'csrfmiddlewaretoken': '{{ csrf_token }}'
						},

						success: function (response, status, xhr) {
							if (xhr.status === 200) {
								console_log(xhr?.responseJSON)
								// console_log($('#status-badge-' + project_id))
								changeStatus(element, status_text, new_status_code)

								// element.text(status_text)
								// element.removeClass(function (index, className) {
								// 	return (className.match(/(^|\s)bg-\S+/g) || []).join(' ');
								// })
								// element.addClass(status_colors[new_status_code])
								showToast("Status changed", '', deleteMessage?.bgColor);

							} else {
								showToast(errorAlertMessage?.message, '', errorAlertMessage?.bgColor);

							}
						},
						error: function (xhr, status, error) {
							console_log(xhr, status, error);
							if (xhr.status === 400) {
								if (xhr?.responseJSON || xhr?.responseJSON?.errors) {
									showToast(xhr?.responseJSON?.details, '', errorAlertMessage?.bgColor);

								} else {
									showToast(errorAlertMessage?.message, '', errorAlertMessage?.bgColor);

								}
							}
							else if (xhr.status === 401 || 404) {
								showToast(xhr?.responseJSON?.details, '', errorAlertMessage?.bgColor);

							}
							else {

								showToast(errorAlertMessage?.message, '', errorAlertMessage?.bgColor);

							}
						}

					});
				});
			});





			function changeStatus(element, text = null, status_code = null) {

				var new_status_code = status_code ?? element.getAttribute('data');

				$(element).removeClass(function (index, className) {
					return (className.match(/(^|\s)bg-\S+/g) || []).join(' ');
				});

				$(element).addClass(status_colors[new_status_code]);
				if (text) {
					element.innerText = text
				}
			}
		</script>


		{% endblock header2 %}