{% extends "base.html" %}

{% load static %}

{% block header2 %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">


<!-- Begin page -->
<div id="layout-wrapper">

    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Purchase Request List </h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                                    <li class="breadcrumb-item active">List</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
               

                <div class="row card">

                    <div class="col-lg-12">
                        <div class="">
                            <div class="card-header">

                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                                        <h4>Purchase Request </h4>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-12"></div>
                                    <div class="col-xl-2 col-lg-2 col-md-2 col-12">

                                        <a href="{% url 'quatation' %}" type="button" class="btn btn-info mb-2"
                                            style="float:right;">+ Add</a>

                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="card-body">
                        <div class="row">

                            <div class="col-xl-2 col-lg-2 col-md-2 col-xs-6 col-12">
                                <label for="fromsite" class="form-label">Project :</label>
                                <select class="form-select mb-3" id="filterdropdown1" name="site"
                                    aria-label="Default select example">
                                    <option value="0">----------------</option>
                                    {% for site in site %}
                                    <option value="{{ site.id }}">{{ site.display }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col-xl-2 col-lg-2 col-md-2 col-xs-6 col-12">
                                <label for="exampleInputdate" class="form-label" id="">From Date</label>
                                <input type="date" class="form-control" id="fromDate">
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-2 col-xs-6 col-12">
                                <label for="exampleInputdate" class="form-label">To Date</label>
                                <input type="date" class="form-control" id="toDate">
                            </div>

                            <div class="col-xl-2 col-lg-2 col-md-2 col-xs-6 col-12">
                                <br />
                                <button type="submit" onclick="getReport(this,'example')"
                                class="btn btn-primary waves-effect waves-light mt-2">Get Report
                            </button>
                              </div>
                        </div>
                        <hr>
                        <table id="example" class="table table-bordered dt-responsive nowrap table-striped align-middle"
                            style="width:100%">
                            <thead>
                                <tr>
                                    <!-- <th scope="col" style="width: 10px;">
                                                    <div class="form-check">
                                                        <input class="form-check-input fs-15" type="checkbox" id="checkAll" value="option">
                                                    </div>
                                                </th> -->
                                    <th style="width: 50px;" data-ordering="false">S No.</th>
                                    <th data-ordering="false">Date</th>
                                    <th data-ordering="false">Site Name</th>
                                    <th data-ordering="false">Quatation No</th>
                                    {% comment %} <th data-ordering="false">Status</th> {% endcomment %}
                                    <th data-ordering="false" colspan="2">Action</th>

                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>


                        <div id="pagination-container"></div>

                    </div>


                </div>
            </div>
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->


</div>
<!-- end main content-->

</div>
<!-- END layout-wrapper -->



<!--start back-to-top-->
<button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
    <i class="ri-arrow-up-line"></i>
</button>
<!--end back-to-top-->



<!-- modal table -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    id="customTableDataModal" data-bs-keyboard="false" data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modelHeader">Quotation Items</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>S.no</th>
                                <th>Item</th>
                                <th>Qty</th>
                                <th>Unit</th>


                            </tr>
                        </thead>
                        <tbody id="modalTableBody">
                            <!-- Modal table body will be populated dynamically -->


                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-link link-success fw-medium shadow-none" data-bs-dismiss="modal"><i
                        class="ri-close-line me-1 align-middle"></i> Close</button>
                <!-- <button type="button" class="btn btn-primary">Save</button> -->
            </div>
        </div>
    </div>
</div>



<div class="modal fade bs-example-modal-md" tabindex="-1" role="dialog" id="statusmodel"
aria-labelledby="myLargeModalLabel-1" aria-hidden="true">
<div class="modal-dialog modal-md">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="myLargeModalLabel-1"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </button>
        </div>
        <hr>
        <form id="clocKInForm">
            <div class="modal-body">


                <div class="row">
                    <select class="form-select mb-3" aria-label="Default select example" id="filterdropdown1" name="status">
                        {% for i in status %}
                            <option value="{{ i.id }}">{{ i.name | title }}</option>
                        {% endfor %}
                    </select>
                </div>

            </div>

        </form>

        <hr>
        <div class="modal-footer">
            <button class="btn btn-link link-success fw-medium shadow-none" data-bs-dismiss="modal"><i
                    class="ri-close-line me-1 align-middle"></i> Close</button>
            <button type="button"  class="btn btn-primary" id="update-button"
                data-target='clockInModal' onclick="updateStatus(this)">Save </button>
        </div>
    </div>
</div>
</div>


<!--preloader-->
<div id="preloader">
    <div id="status">
        <div class="spinner-border text-primary avatar-sm" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>


<script>

    let activePage;

    // fetch url
    let fetchUrl = "quatation-list"

    // pagination
    const existingPaginationContainer = document.getElementById('pagination-container');

    // table
    const tableBody = document.querySelector('#example tbody');

    // filters 
    const firstDropdown = document.getElementById('filterdropdown1');
    const fromdate = document.getElementById('fromDate');
    const todate = document.getElementById('toDate');

    var currentPage = 1;

    document.addEventListener('DOMContentLoaded', function () {

        // on dom loaded 
        const initialSelectedValue = firstDropdown.value;
        fetchData(1);

        // fetch table data API
        firstDropdown.addEventListener('change', function () {

            activePage = null
            fetchData(currentPage);
        });

        todate.addEventListener('change', function () {
            activePage = null
            fetchData(currentPage);
        });

        fromdate.addEventListener('change', function () {
            activePage = null
            fetchData(currentPage);
        });


    });


    // fetch data
    function fetchData(page) {

        if (activePage === page) {
            return
        }
        const selectedValue = firstDropdown.value;
        const from = fromdate?.value || ""
        const to = todate?.value || ""
        try {
            fetch(`/${fetchUrl}/${selectedValue}/?page=${page}&start_date=${from}&end_date=${to}`)
                .then(response => {
                    if (response.status === 200) {
                        console.log('Data fetched');
                        return response.json();
                    } else if (response.status === 404) {
                        throw new Error('Resource not found');
                    } else if (response.ok) {
                        throw new Error(`HTTP error! Status: ${response.status}`);
                    } else {
                        throw new Error('Network response was not ok');
                    }
                })
                .then(data => {
                    tableBody.innerHTML = '';
                    renderDataOrMessage(tableBody, data, page)
                    activePage = page
                })
                .catch(error => {
                    console.error('Error fetching data:', error);
                    showToast(errorAlertMessage?.message, '', errorAlertMessage?.bgColor);
                });
        } catch (error) {
            console.error('Error in fetch operation:', error);
        }
    }



    // MANIPULATE TABLE DATA
    function createTableRow(serialNumber, data) {


        modelhead =document.getElementById('modelHeader')

        modelhead.innerText =data.quatation_id + "  " + "details"

        const newRow = document.createElement('tr');
        newRow.setAttribute('data-item-id', data.id);

        const idCell = createSerialCell(serialNumber);
        newRow.appendChild(idCell);

        const td2 = createTableCell(get_value(data.start_date));
        newRow.appendChild(td2);

        const td3 = createTableCell(get_value(data.site_name));
        newRow.appendChild(td3);

        const td4 = createTableCell(get_value(data.quatation_id));
        newRow.appendChild(td4);

        const dropdownButtonCell = document.createElement("td");
        const dropdownButton = document.createElement("button");
        dropdownButton.className = "btn btn-soft-secondary btn-sm dropdown";
        dropdownButton.setAttribute("type", "button");
        dropdownButton.setAttribute("data-bs-toggle", "dropdown");
        dropdownButton.setAttribute("aria-expanded", "false");
    
        const dropdownIcon = document.createElement("i");
        dropdownIcon.className = "ri-more-fill align-middle";
    
        dropdownButton.appendChild(dropdownIcon);
        dropdownButtonCell.appendChild(dropdownButton);
    
        // Dropdown menu
        const dropdownMenu = document.createElement("ul");
        dropdownMenu.className = "dropdown-menu dropdown-menu-end";



        // actioncell
    //    const actionCell = createViewActionCell('customTableDataModal');
    //    newRow.appendChild(actionCell);

        const viewOption = document.createElement("li");
        const viewLink = document.createElement("a");
        viewLink.className = "dropdown-item view-item-btn";
        viewLink.textContent = "View";
        viewLink.setAttribute("data-bs-toggle", "modal");
        viewLink.setAttribute("href", "#!");
        viewLink.addEventListener('click', () => {
            const rowDataId = data.id;
            window.location.href = `/quatation_details/${rowDataId}/`;
        });
        viewOption.appendChild(viewLink);
        dropdownMenu.appendChild(viewOption);

        // Edit option
        const editOption = document.createElement("li");
        const editLink = document.createElement("a");
        editLink.className = "dropdown-item edit-item-btn";
        editLink.textContent = "Edit";
        editLink.setAttribute("data-bs-toggle", "modal");
        editLink.setAttribute("href", "#!");
        editLink.addEventListener('click', () => {
            const rowDataId = data.id;
            window.location.href = `/quatation_update/${rowDataId}/`;
        });
        editOption.appendChild(editLink);
        dropdownMenu.appendChild(editOption);
        dropdownButtonCell.appendChild(dropdownMenu);
        newRow.appendChild(dropdownButtonCell);

        

        return newRow;
    }

    



    // nested table
    function populateModalTable(items, modalTableBody) {
        modalTableBody.innerHTML = ''; // Clear previous data

        items?.forEach((tItem, index) => {
            const modalRow = document.createElement('tr');

            modalRow.appendChild(createSerialCell(index + 1));
            modalRow.appendChild(createTableCell(get_value(tItem.item_name)));
            modalRow.appendChild(createTableCell(get_value(tItem.qty)));
            modalRow.appendChild(createTableCell(get_value(tItem.unit_name)));


            modalTableBody.appendChild(modalRow);
        });

    }

    function payModalData(data) {
        const formId = 'clocKInForm'

        var formElement = document.getElementById(formId);

        const i1 = formElement.querySelector('select[name="status"]');
        i1.value = data.status;
        

        const saveButton = document.querySelector('#update-button');   //id change
        saveButton.setAttribute("data-id", data.id)

    }


    //---------------
 





    {% comment %} function updateStatus(button) {

        var modalSelector = button.getAttribute('data-target');
        const formId = "clocKInForm"

        const saveId = button.getAttribute('data-id')
        var formElement = document.getElementById(formId);

        var formData = new FormData();
        try {
            disableButton(button);
            var isValid = true;
            var errors = {};
            var formData = new FormData();

            var requiredKeys = ['status',];   //change

        //     const selectedOption = formElement.querySelector('input[name="status"]:checked');
        // if (selectedOption) {
        //     console.log('Selected status:', selectedOption.value);
        //     // Perform the update logic here
        //     alert(`Selected status: ${selectedOption.value}`);
        // } else {
        //     alert('Please select a status.');
        // }
            const selectedOption = getValueOrDefault(formElement.querySelector('select[name="status"]'));
      
            formData.append('status', selectedOption.value);

            requiredKeys.forEach(function (key) {
                var value = formData.get(key);
                if (!value.trim()) {
                    isValid = false;
                    errors[key] = ['This field is required.'];
                }
            });

            if (!isValid) {
                enableButton(button);
                // console.log(errors);
                handleCreateErrors(errors);
                return;
            } else {
                $(`#${formId} input, #${formId} button`).prop('disabled', true);

            }

            $.ajax({
                url: `/quatation-status-change/${saveId}/`,                //change
                type: 'POST',
                headers: {
                    'X-CSRFToken': csrftoken,
                },
                data: formData,
                processData: false,
                contentType: false,
                success: function (response, status, xhr) {
                    console.error(status);
                    if (xhr.status === 200) {

                        showToast(statusMesssage?.message, '', statusMesssage?.bgColor);
                        // fetchData(currentPage, reload = true)
                        closeHistoryModal(modalSelector)
                        updateRowStatus(saveId,xhr?.responseJSON)
                        restoreForm(formId, button)

                    } else {

                        restoreForm(formId, button)
                        showToast(
                            errorAlertMessage?.message,
                            "",
                            errorAlertMessage?.bgColor
                        );

                    }
                },
                error: function (xhr, status, error) {
                    // console.log(xhr, status, error);
                    if (xhr.status === 400) {
                        if (xhr?.responseJSON || xhr?.responseJSON?.errors) {
                            handleCreateErrors(transformErrors(xhr.responseJSON));
                            // restoreForm(formId, button)


                        } else {
                            showToast(errorAlertMessage?.message, '', errorAlertMessage?.bgColor);
                            // restoreForm(formId, button)

                        }
                    }
                    else if (xhr.status === 401 || xhr.status === 404) {

                        showToast(xhr?.responseJSON?.details || errorOccured.message, '', errorAlertMessage?.bgColor);
                        // restoreForm(formId, button)


                    }
                    else {
                        showToast(errorAlertMessage?.message, '', errorAlertMessage?.bgColor);
                        // restoreForm(formId, button)

                    }
                }
            });
        } catch (error) {
            showToast(errorOccured?.message, '', errorOccured?.bgColor);
            // restoreForm(formId, button)
            console.error(error);
        }

        finally{
            restoreForm(formId, button)
        }
        




    }



    function updateRowStatus(itemId, newStatus) {
    // Find the row by the data-item-id attribute
    const row = document.querySelector(`tr[data-item-id='${itemId}']`);
    if (row) {
        // Find the specific td with class 'status' within that row
        const statusTd = row.querySelector('td.status');
        statusTd.innerHTML =''
        if (statusTd) {
            const newStatusCell = createStatusCell(newStatus.name, newStatus.classname);
            statusTd.appendChild(newStatusCell);
        
        } else {
            console.error(`No <td> with class 'status' found in row with data-item-id='${itemId}'`);
        }
    } else {
        console.error(`No row found with data-item-id='${itemId}'`);
    }
} {% endcomment %}


    //---------------



    function updateStatus(button) {
        var modalSelector = button.getAttribute('data-target');
        const formId = "clocKInForm";
        const saveId = button.getAttribute('data-id');
        var formElement = document.getElementById(formId);
    
        var formData = new FormData();
    
        try {
            disableButton(button);
    
            var isValid = true;
            var errors = {};
            var formData = new FormData(formElement);
    
            var requiredKeys = ['status'];
    
            const selectedOption = formElement.querySelector('select[name="status"]');
            if (selectedOption && selectedOption.value.trim()) {
                formData.append('status', selectedOption.value);
            } else {
                isValid = false;
                errors['status'] = ['Please select a status.'];
            }
    
            if (!isValid) {
                enableButton(button);
                handleCreateErrors(errors);
                return;
            } else {
                $(`#${formId} input, #${formId} button`).prop('disabled', true);
            }
    
            $.ajax({
                url: `/quatation-status-change/${saveId}/`,
                type: 'POST',
                headers: {
                    'X-CSRFToken': csrftoken,
                },
                data: formData,
                processData: false,
                contentType: false,
                success: function (response, status, xhr) {
                    if (xhr.status === 200) {
                        showToast(statusMesssage?.message, '', statusMesssage?.bgColor);
                        closeHistoryModal(modalSelector);
                        updateRowStatus(saveId, response);
                        restoreForm(formId, button);
                    } else {
                        restoreForm(formId, button);
                        showToast(errorAlertMessage?.message, "", errorAlertMessage?.bgColor);
                    }
                },
                error: function (xhr, status, error) {
                    if (xhr.status === 400) {
                        if (xhr?.responseJSON?.errors) {
                            handleCreateErrors(transformErrors(xhr.responseJSON.errors));
                        } else {
                            showToast(errorAlertMessage?.message, '', errorAlertMessage?.bgColor);
                        }
                    } else if (xhr.status === 401 || xhr.status === 404) {
                        showToast(xhr?.responseJSON?.details || errorOccured.message, '', errorAlertMessage?.bgColor);
                    } else {
                        showToast(errorAlertMessage?.message, '', errorAlertMessage?.bgColor);
                    }
                },
                complete: function () {
                    restoreForm(formId, button);
                }
            });
        } catch (error) {
            showToast(errorOccured?.message, '', errorOccured?.bgColor);
            console.error(error);
        } finally {
            restoreForm(formId, button);
        }
    }
    
    function updateRowStatus(itemId, newStatus) {
        const row = document.querySelector(`tr[data-item-id='${itemId}']`);
        if (row) {
            const statusTd = row.querySelector('td.status');
            if (statusTd) {
                statusTd.innerHTML = '';  // Clear the current content
                const newStatusCell = createStatusCell(newStatus.name, newStatus.classname);
                statusTd.appendChild(newStatusCell);
            } else {
                console.error(`No <td> with class 'status' found in row with data-item-id='${itemId}'`);
            }
        } else {
            console.error(`No row found with data-item-id='${itemId}'`);
        }
    }
    






</script>




{% endblock header2 %}