{% extends "base.html" %}

{% load static %}

{% block header2 %}    
    <!-- Begin page -->
    <div id="layout-wrapper">

        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0">Quotation</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                                        <li class="breadcrumb-item active">Add Quotation</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row " >
						<div class="col-xl-5 col-lg-5 col-md-6 col-xs-6 col-12">
							
						</div>
						<div class="col-xl-5 col-lg-4 col-md-3 col-xs-6 col-12"></div>
						<div class="col-xl-2 col-lg-3 col-md-3 col-xs-6 col-12">
							<a href="{% url 'quatationlist' %}" type="button" class="btn btn-info mb-2" style="float:right;" >Quatation List</a>
														
						</div>
					</div> -->
                    <div class="row">
						
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">

									<div class="row " >
										<div class="col-xl-5 col-lg-5 col-md-6 col-xs-6 col-12">
											<h4>Site details </h4>
										</div>
										<div class="col-xl-5 col-lg-4 col-md-3 col-xs-6 col-12"></div>
										<div class="col-xl-2 col-lg-3 col-md-3 col-xs-6 col-12">
											<a href="{% url 'quatationlist' %}" type="button" class="btn btn-info mb-2" style="float:right;" >Quatation List</a>
																		
										</div>
									</div>

									<hr>
                                    <form id="createForm" enctype="multipart/form-data">
										{% csrf_token %}
									<div class="row">
										<div class="col-md-4">
											<label for="" class="form-label">Quatation No :</label>
											<input type="text" class="form-control" id="quatation_id" name="quatation_id">
                                            <span id="quatation_idError" class="error-message" ></span>
										</div>
										<div class="col-md-4">
											<label for="" class="form-label">Site Name :</label>
											<select class="form-select mb-3" aria-label="Default select example" id="site" name="site">
												<option value="">---------------------</option>
												{% for i in site %}
													<option value="{{ i.id }}">{{ i.site_location }}</option>
												{% endfor %}	
											</select>
                                            <span id="siteError" class="error-message" ></span>
										</div>
										
										<div class="col-md-4">
											<label for="" class="form-label">Date :</label>
											<input type="date" class="form-control" id="start_date" name="start_date">
                                            <span id="start_dateError" class="error-message" ></span>
										</div>
																				
									</div>
									<hr>
									<h4>Items Required </h4>
									
									<div class="card-body">
										<table id="tabl" class="table table-bordered dt-responsive nowrap table-striped align-middle" style="width:100%">
                                        <thead>
                                            <tr>
                                                
                                                <th>SR No.</th>
                                                <!-- <th>Item Name</th>                             -->
                                                <th> Item</th>                                                                                               
                                                <th> Unit</th>  
                                                <th>Quantity</th>                                                                                             
                                                <th>Action</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                
                                                <td>1</td>

												
												<td>
													<div class="d-flex gap-2 ">

														<select style="width:85%;" class="form-select"
															aria-label="Default select example" name="inventory">
															<option value="">------------------</option>
															{% for i in materiallibrary %}
															<option value="{{ i.id }}">{{ i.item }}</option>
															{% endfor %}
														</select>

														<button
															class="btn btn-soft-secondary align-middle btn-sm text-center"
															type="button" data-bs-toggle="collapse"
															data-bs-target="#other">
															<i class="ri-add-fill align-middle"></i>
														</button>

													</div>
													<div class="collapse mt-2" id="other">
														<input type="text" class="form-control" name="name">
													</div>

													<span name="nameError" class="error-message"></span>
												</td>


                                                <!-- <td>
                                                    <select class="form-select " aria-label="Default select example" id="item" name="item">
														<option value="">------------------</option>
														{% for i in materiallibrary %}
															<option value="{{ i.id }}">{{ i.item }}</option>
														{% endfor %}
													</select>
													<span id="itemError" class="error-message"></span>
                                                </td>
                                                <td><input type="text" class="form-control" id="name" name="name"></td> -->


                                                <td>
                                                    <select class="form-select  form-control"  aria-label="Default select example" name="unit" id="unit">

                                                        <option value=""> ------------------</option>

                                                        {% for i in uom %}
                                                        <option value="{{i.id}}">{{i.name}} </option>
                                                        {% endfor %}
                                                      </select>
                                                      <span id="unitError" class="error-message"></span>
                                                </td>
                                                
                                                <td><input type="text" class="form-control" id="qty" name="qty">
													<span id="qtyError" class="error-message"></span>
												</td>
                                                
                                                <td>
                                                    <div class="dropdown d-inline-block">
                                                        <button class="btn btn-soft-secondary btn-sm dropdown add-row" type="button"  aria-expanded="false">
                                                            <i class="ri-add-fill align-middle"></i>
                                                        </button>
                                                        <!--<ul class="dropdown-menu dropdown-menu-end">
                                                            <li><a href="#!" class="dropdown-item"><i class="ri-eye-fill align-bottom me-2 text-muted"></i> View</a></li>
                                                            <li><a class="dropdown-item edit-item-btn"><i class="ri-add-fill align-bottom me-2 text-muted"></i> Edit</a></li>
                                                            <li>
                                                                <a class="dropdown-item remove-item-btn">
                                                                    <i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i> Delete
                                                                </a>
                                                            </li>
                                                        </ul> -->
                                                    </div>
                                                </td>
                                            </tr>                                            
                                        </tbody>
                                    </table>
									
									<p class="text-center mt-2">
										<button class="btn btn-link link-success fw-medium shadow-none" data-bs-dismiss="modal" onclick="clearErrors()" >
													
                                            <i class="ri-close-line me-1 align-middle"></i> Close</button>

                                         <button type="button" class="btn btn-primary" onclick="createFunction(this)">Save </button>
									</p>
									</div>								</div>

                                </form>
                            </div>
                        </div>
                    </div>
<!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->



    <!--start back-to-top-->
    <button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
        <i class="ri-arrow-up-line"></i>
    </button>
    <!--end back-to-top-->

    <!--preloader-->
    <div id="preloader">
        <div id="status">
            <div class="spinner-border text-primary avatar-sm" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>

  
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" ></script>

    <!--invoice,project,purchase,quatation,transfer,vendor,vendorquates-->
       <script type="text/javascript">
               $(document).ready(function() {
                   var i = 1;
   
                   $(".add-row").click(function(event) {
                       event.preventDefault();
                       ++i;

                       var newRow = `<tr>
				       <td>${i}</td>
						
						


						<td>
							<div  class="d-flex gap-2 ">
								<select  style="width:85%;" class="form-select" aria-label="Default select example" id="inventory" name="inventory" >
									<option value="">------------------</option>
									{% for i in materiallibrary %}
										<option value="{{ i.id }}">{{ i.item }}</option>
									{% endfor %}
									</select>
								<button class="btn btn-soft-secondary align-middle btn-sm text-center" type="button" data-bs-toggle="collapse" data-bs-target="#other_${i}">
									<i class="ri-add-fill align-middle"></i>
								</button> 
							
							</div>
							<div class="collapse mt-2" id="other_${i}">
								<input type="text" class="form-control"  name="name" >
							</div>

							<span  name="nameError" class="error-message"></span>
						</td>


						<td><select class="form-select mb-3 form-control"  aria-label="Default select example" name="unit" id="unit">
							<option value=""> ------------------</option>

							{% for i in uom %}
							<option value="{{i.id}}">{{i.name}} </option>
							{% endfor %}
						  </select>
						  <span id="unitError" class="error-message"></span></td>

						<td><input type="text" name="qty" value="" class="form-control">
							<span  name="qtyError" class="error-message"></span></td>
							</td>
						
						<td><button type="button" class="btn btn-danger btn-icon waves-effect waves-light remove-table-row">
							<i class="ri-delete-bin-5-line"></i></button></td>
						</tr>`;
   
					   $("#tabl").append(newRow);
				   });
   
				   $(document).on('click', '.remove-table-row', function() {
					   $(this).parents('tr').remove();
				   });
			   });
   
                       
     </script>  

     <script>
		// create form
	
		function createFunction(button) {
			var formId = `createForm`;   //change
			var formElement = document.getElementById(formId);

			requiredMessage =['This field may not be blank.'];
			try {
				disableButton(button);
				var isValid = true;
				var errors = {};
				var formData = new FormData();
	
				var requiredKeys = ['site','quatation_id','start_date'];   //change

				//var requiredKeys = ['vendor_company']

				formData.append('site', getValueOrDefault(formElement.querySelector('select[name="site"]').value));              //change
				formData.append('quatation_id', getValueOrDefault(formElement.querySelector('input[name="quatation_id"]').value));
				formData.append('start_date', getValueOrDefault(formElement.querySelector('input[name="start_date"]').value));

				var tableData = [];
				$('#tabl tbody tr').each(function () {
					console.log(this)
				
					var rowData = {};
					rowData['inventory'] = $(this).find('select[name^="inventory"]').val();
					rowData['name'] = $(this).find('input[name^="name"]').val();
					rowData['unit'] = $(this).find('select[name^="unit"]').val();
					rowData['qty'] = $(this).find('input[name^="qty"]').val();
					tableData.push(rowData);
				});


				console.log(tableData)



				tableData.forEach(function (item) {
				var itemValue = item['inventory'];
				var nameValue = item['name'];
				var unitValue = item['unit'];

				// Check if either item or name is not null, empty, or undefined
				if ((itemValue === null || itemValue === undefined || itemValue.trim() === '') &&
					(nameValue === null || nameValue === undefined || nameValue.trim() === '')) {
					isValid = false;
					errors['inventory'] = requiredMessage;
					errors['name'] = requiredMessage;
				}

				// Additional check for the 'unit' field
				if (unitValue === null || unitValue === undefined || unitValue.trim() === '') {
					isValid = false;
					errors['unit'] = requiredMessage;
				}
			});
	
	
				requiredKeys.forEach(function (key) {
					var value = formData.get(key);
					if (!value.trim()) {
						isValid = false;
						errors[key] = ['This field may not be blank.'];
					}
				});
	
				if (!isValid) {
					enableButton(button);
					console.log(errors);
					handleTableErrors(errors);
					return;
				} else {
					$(`#${formId} input, #${formId} button`).prop('disabled', true);
	
				}

				formData.append("table", JSON.stringify(tableData))
	
				$.ajax({
					url: '/add_quatation/',                //change
					type: 'POST',
					headers: {
						'X-CSRFToken': csrftoken,
					},
					data: formData,
					processData: false,
					contentType: false,
					success: function (response, status, xhr) {
						console.error(status);
						if (xhr.status === 201) {
							showToast(successMesssage?.message, '', successMesssage?.bgColor);
							window.location.href = document.referrer;
						} else {
							console.error(error);
							// restoreForm(formId, button)
	
						}
					},
					error: function (xhr, status, error) {
						console.log(xhr, status, error);
						if (xhr.status === 400) {
							if (xhr?.responseJSON || xhr?.responseJSON?.errors) {
								handleTableErrors(transformErrors(xhr.responseJSON));
								// restoreForm(formId, button)
	
							} else {
								showToast(errorAlertMessage?.message, '', errorAlertMessage?.bgColor);
								// restoreForm(formId, button)
	
							}
						}
						else if (xhr.status === 401 || 404) {
							showToast(xhr?.responseJSON?.details, '', errorAlertMessage?.bgColor);
							// restoreForm(formId, button)
	
						}
						else {
							showToast(errorAlertMessage?.message, '', errorAlertMessage?.bgColor);
							// restoreForm(formId, button)
	
						}
					}
				});
			} catch (error) {
				showToast(errorOccured?.message, '', errorOccured?.bgColor);
				// restoreForm(formId, button)
				console.error(error);
			}
			finally{
				restoreForm(formId, button)
			}
		}






		function handleTableErrors(errors, pre = "") {
		$(".form-control").removeClass("is-invalid");
		$(".error-message").text("");

		for (var fieldName in errors) {
			if (errors.hasOwnProperty(fieldName)) {
				var errorMessage = errors[fieldName][0]; // Get the first error message


				const fields = document.getElementsByName(fieldName)


				fields.forEach((item) => {
					if (item.value === null || item.value === "" || item.value === "undefined") {

						console.log(item)

						td = item.closest('td');

						var name = item.getAttribute('name')

						if (name === "inventory" || name === "name") {

						if (name === "inventory") {
							const inputName = item.nextElementSibling.querySelector('input[name="name"]');

							
							if (inputName && inputName.value.trim() !== "") {
								return; 
							}
							else{
								item.classList.add('is-invalid')
								const lastElement = td.lastElementChild;
								lastElement.innerHTML = errorMessage;
							}
						}

						if (name === "name") {
							const itemname = item.closest('td').querySelector('select[name="inventory"]');

							console.log(itemname)

							if (itemname && itemname.value.trim() !== "") {
								console.log("returnnnnnnnnn")
								return; 
							}
							else{
								item.classList.add('is-invalid')
								const lastElement = td.lastElementChild;
								lastElement.innerHTML = errorMessage;
							}
						}

						}
						else {
							
							item.classList.add('is-invalid')
							const sibling = item.nextElementSibling;
							if (sibling) {
								sibling.innerHTML = errorMessage;
							}
						}

					}
				})
			}
		}
	}


	</script>
   

{% endblock header2 %}  